        <!--*************************************FOOTER*******************************************-->       
        <footer class="footer">
            <div class="max1400 flex-contenedor">
                <ol>
                    <h3>Categorias</h3>
                    <li><a href="/producto/buscar/palabra=-1/idcat=14/idsub=-1/idmarca=-1/orden=-1/" class="footer__link">Placas de video</a></li>
                    <li><a href="/producto/buscar/palabra=-1/idcat=2/idsub=-1/idmarca=-1/orden=-1/" class="footer__link">Procesadores</a></li>
                    <li><a href="/producto/buscar/palabra=-1/idcat=4/idsub=-1/idmarca=-1/orden=-1/" class="footer__link">Memorias</a></li>
                    <li><a href="/producto/buscar/palabra=-1/idcat=6/idsub=-1/idmarca=-1/orden=-1/" class="footer__link">Almacenamiento</a></li>
                    <li><a href="/producto/buscar/palabra=-1/idcat=7/idsub=-1/idmarca=-1/orden=-1/" class="footer__link">Refrigeracion</a></li>
                    <li><a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=-1/orden=-1/" class="footer__link">Todas las categorias</a></li>
                </ol>
                <ol>
                    <h3>Marcas</h3>
                    <li><a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=27/orden=-1/" class="footer__link">Aorus</a></li>
                    <li><a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=6/orden=-1/" class="footer__link">Asus</a></li>
                    <li><a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=19/orden=-1/" class="footer__link">Adata</a></li>
                    <li><a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=2/orden=-1/" class="footer__link">Seagate</a></li>
                    <li><a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=18/orden=-1/" class="footer__link">Corsair</a></li>
                    <li><a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=10/orden=-1/" class="footer__link">AMD</a></li>
                </ol>
                <ol>
                    <h3>Lo mas buscado</h3>
                    <li><a href="" class="footer__link"></a></li>
                    <li><a href="" class="footer__link"></a></li>
                    <li><a href="" class="footer__link"></a></li>
                    <li><a href="" class="footer__link"></a></li>
                    <li><a href="" class="footer__link"></a></li>
                    <li><a href="" class="footer__link"></a></li>
                </ol>
                <ol>
                    <h3>Ayuda</h3>
                    <li><a href="/ubicacion" class="footer__link">Ubicacion</a></li>
                    <li><a class="abrirModalMediosDePago footer__link">Medios de pago</a></li>
                    <li><a class="abrirModalTelefonico footer__link">Venta telefonica</a></li>
                    <li><a href="" class="footer__link">Whatsapp</a></li>
                    <li><a href="" class="footer__link">Email</a></li>
                    <li><a href="" class="footer__link">FAQ</a></li>
                </ol>
                <div>
                    <h3>Seguinos en las Redes</h3>
                    <ol class="flex-contenedor">
                    <li><a href="" class="footer__link"><img src="/assets/img/facebook.ico" class="iconos"></a></li>
                    <li><a href="" class="footer__link"><img src="/assets/img/instagram.ico" class="iconos"></a></li>
                    <li><a href="" class="footer__link"><img src="/assets/img/youtube.ico" class="iconos"></a></li>
                    </ol>
                </div>
            </div>

            <div class='botonesComunicaciones'>
                <a><img src="/assets/img/iconoChat.png" class="iconoBoton"/></a>
                <a><img src="/assets/img/iconoWhatsapp.png" class="iconoBoton"/></a>
            </div>
        </footer>
    </body>
</html>