<footer class='bg-dark mt-5'>
    <div class="container">
        <div class='row text-center p-3 text-white'>
            <div class='col d-none d-md-block'>
                <div class="row">
                    <article class='col-3'>
                        <h6>Categorias</h6>
                        <a href="/producto/buscar/palabra=-1/idcat=5/idsub=-1/idmarca=-1/orden=-1">Placas de Video</a>
                        <a href="/producto/buscar/palabra=-1/idcat=2/idsub=-1/idmarca=-1/orden=-1">Procesadores</a>
                        <a href="/producto/buscar/palabra=-1/idcat=4/idsub=-1/idmarca=-1/orden=-1">Memorias</a>
                        <a href="/producto/buscar/palabra=-1/idcat=6/idsub=-1/idmarca=-1/orden=-1">Almacenamiento</a>
                        <a href="/producto/buscar/palabra=-1/idcat=7/idsub=-1/idmarca=-1/orden=-1">Refrigeracion</a>
                        <a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=-1/orden=-1">Todas las categorias</a>
                    </article>
                    <article class='col-3'>
                        <h6>Marcas</h6>
                        <a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=3/orden=-1/">MSI</a>
                        <a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=6/orden=-1/">Asus</a>
                        <a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=19/orden=-1">Adata</a>
                        <a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=28/orden=-1">Aerocool</a>
                        <a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=7/orden=-1">Redragon</a>
                        <a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=10/orden=-1/">AMD</a>
                    </article>
                    <article class='col-3'>
                        <h6>Lo mas buscado</h6>
                        <a href="/producto/buscar/palabra=-1/idcat=-1/idsub=9/idmarca=-1/orden=-1">Placas de Video Nvidia</a>
                        <a href="/producto/buscar/palabra=-1/idcat=-1/idsub=13/idmarca=-1/orden=-1">Discos Solidos SSD</a>
                        <a href="/producto/buscar/palabra=-1/idcat=-1/idsub=4/idmarca=-1/orden=-1">Placa Madre AMD AM4</a>
                        <a href="/producto/buscar/palabra=-1/idcat=-1/idsub=8/idmarca=-1/orden=-1">Placas de Video AMD</a>
                        <a href="/producto/buscar/palabra=-1/idcat=-1/idsub=28/idmarca=-1/orden=-1">Mouse Gamer</a>
                    </article>
                    <article class='col-3'>
                        <h6>Ayuda</h6>
                        <a href="/ubicacion">Ubicacion</a>
                        <a data-bs-toggle="modal" data-bs-target="#modalMediosDePago">
                            Medios de Pagos
                        </a>
                        <a data-bs-toggle="modal" data-bs-target="#modalTelefonico">
                            Venta Telefónico
                        </a>
                        <a href="/">Whatsapp Local</a>
                        <a href="/">Email Local</a>
                        <a href="/">FAQ</a>
                    </article>
                </div>
            </div>
            <div class='col-md-2'>
                <h5>Seguinos en las redes</h5>
                <div>
                    <img src='/assets/img/facebook.ico' alt='Facebook' class='icono' />
                    <img src='/assets/img/instagram.ico' alt='Instagram' class='icono' />
                    <img src='/assets/img/youtube.ico' alt='Youtube' class='icono' />

                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>


</body>
</html>