        <!--*************************************FOOTER*******************************************-->       
        <footer>
            <div class="max1400 flex-contenedor">
                <ol>
                    <h3>Categorias</h3>
                    <li><a href="">Placas de video</a></li>
                    <li><a href="">Procesadores</a></li>
                    <li><a href="">Memorias</a></li>
                    <li><a href="">Almacenamiento</a></li>
                    <li><a href="">Refrigeracion</a></li>
                    <li><a href="">Todas las categorias</a></li>
                </ol>
                <ol>
                    <h3>Marcas</h3>
                    <li><a href="">Aorus</a></li>
                    <li><a href="">Asus</a></li>
                    <li><a href="">Adata</a></li>
                    <li><a href="">Seagate</a></li>
                    <li><a href="">Ballistix</a></li>
                    <li><a href="">AMD</a></li>
                </ol>
                <ol>
                    <h3>Lo mas buscado</h3>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ol>
                <ol>
                    <h3>Ayuda</h3>
                    <li><a href="/ubicacion">Ubicacion</a></li>
                    <li><a class="abrirModalMediosDePago">Medios de pago</a></li>
                    <li><a class="abrirModalTelefonico">Venta telefonica</a></li>
                    <li><a href="">Whatsapp</a></li>
                    <li><a href="">Email</a></li>
                    <li><a href="">FAQ</a></li>
                </ol>
                <div>
                    <h3>Seguinos en las Redes</h3>
                    <ol class="flex-contenedor">
                    <li><a href=""><img src="/assets/img/facebook.ico"></a></li>
                    <li><a href=""><img src="/assets/img/instagram.ico"></a></li>
                    <li><a href=""><img src="/assets/img/youtube.ico"></a></li>
                    </ol>
                </div>
            </div>
        </footer>
    </body>
</html>