        <!--*************************************FOOTER*******************************************-->       
        <footer class="footer">
            <div class="max1400 flex-contenedor">
                <ol>
                    <h3>Categorias</h3>
                    <li><a href="/producto/buscar/video" class="footer__link">Placas de video</a></li>
                    <li><a href="/producto/buscar/procesadores" class="footer__link">Procesadores</a></li>
                    <li><a href="/producto/buscar/memoria" class="footer__link">Memorias</a></li>
                    <li><a href="/producto/buscar/almacenamiento" class="footer__link">Almacenamiento</a></li>
                    <li><a href="/producto/buscar/refrigeracion" class="footer__link">Refrigeracion</a></li>
                    <li><a href="/producto/buscar/" class="footer__link">Todas las categorias</a></li>
                </ol>
                <ol>
                    <h3>Marcas</h3>
                    <li><a href="/producto/buscar/aorus" class="footer__link">Aorus</a></li>
                    <li><a href="/producto/buscar/asus" class="footer__link">Asus</a></li>
                    <li><a href="/producto/buscar/adata" class="footer__link">Adata</a></li>
                    <li><a href="/producto/buscar/seagate" class="footer__link">Seagate</a></li>
                    <li><a href="/producto/buscar/ballistix" class="footer__link">Ballistix</a></li>
                    <li><a href="/producto/buscar/amd" class="footer__link">AMD</a></li>
                </ol>
                <ol>
                    <h3>Lo mas buscado</h3>
                    <li><a href="" class="footer__link"></a></li>
                    <li><a href="" class="footer__link"></a></li>
                    <li><a href="" class="footer__link"></a></li>
                    <li><a href="" class="footer__link"></a></li>
                    <li><a href="" class="footer__link"></a></li>
                    <li><a href="" class="footer__link"></a></li>
                </ol>
                <ol>
                    <h3>Ayuda</h3>
                    <li><a href="/ubicacion" class="footer__link">Ubicacion</a></li>
                    <li><a class="abrirModalMediosDePago footer__link">Medios de pago</a></li>
                    <li><a class="abrirModalTelefonico footer__link">Venta telefonica</a></li>
                    <li><a href="" class="footer__link">Whatsapp</a></li>
                    <li><a href="" class="footer__link">Email</a></li>
                    <li><a href="" class="footer__link">FAQ</a></li>
                </ol>
                <div>
                    <h3>Seguinos en las Redes</h3>
                    <ol class="flex-contenedor">
                    <li><a href="" class="footer__link"><img src="/assets/img/facebook.ico" class="iconos"></a></li>
                    <li><a href="" class="footer__link"><img src="/assets/img/instagram.ico" class="iconos"></a></li>
                    <li><a href="" class="footer__link"><img src="/assets/img/youtube.ico" class="iconos"></a></li>
                    </ol>
                </div>
            </div>
        </footer>
    </body>
</html>