<!DOCTYPE html>
<html>
    <head>
        <link href="/assets/estilos/estilo.css" rel=StyleSheet>
        <link href="/assets/estilos/resetEstilos.css" rel=StyleSheet>
        <link href="/assets/estilos/estilo-producto.css" rel="StyleSheet">
        <link href="/assets/estilos/articulos.css" rel="StyleSheet">
        <link href="/assets/estilos/ayuda.css" rel="StyleSheet">
        <link href="/assets/estilos/lightbox.css" rel="StyleSheet">
        <link href="/assets/estilos/principal.css" rel="StyleSheet">
        <link href="/assets/estilos/ubicacion.css" rel="StyleSheet">
        <script src="/assets/js/main.js"></script>
        
        <!--Actualizar estos para los iconos-->
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--*************************************HEADER*******************************************-->
        <header>
            <section class="menu_contacto">
                <ul>
                    <li><a href="/ayuda"><i class='fas fa-question-circle icono'></i>Ayuda</a></li>
                    <li><a href="/ubicacion"><i class='fas fa-map-marker-alt icono'></i>Ubicacion</a></li>
                    <li><a class="abrirModalTelefonico"><i class='fas fa-phone icono'></i>Venta telefonica</a></li>
                    <li><a href=""><i class='fas fa-comments icono'></i>Whatsapp</a></li>
                </ul>
            </section>
            <section class="menu_secundario max1400">
                <div class="logo">
                    <a href="/"><i class='fas fa-tv icono'></i>ComputadorasYA</a>
                </div>
                <div>
                    <input type="text" placeholder="BUSCAR..." id="buscador"/>
                    <button id="buscar"><i class='fas fa-search'></i></button>
                </div>
                <div class="usuario_carrito">
                    <div>
                        <ul>
                            <li><a href="" id="iniciar_sesion">INICIA SESION</a></li>
                            <li><a href="" id="registrarse">REGISTRATE</a></li>
                        </ul>
                    </div>
                    <div class="carrito">
                        <i class='fas fa-shopping-cart'></i>
                        <span id="total"> 0000</span>
                    </div>
                </div>
            </section>
            <nav class="menu">
                <ul>
                    <li><a href="">NOTEBOOK</a></li>
                    <li><a href="">PRODUCTOS</a></li>
                    <li><a href="">PERIFERICOS</a></li>
                    <li><a href="">ARMA TU PC</a></li>
                    <li><a href="">ARMA TU COMBO</a></li>
                    <li><a href="">PAGO QR</a></li>
                </ul>
            </nav>
        </header>