<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="icon" href="/favicon.ico">

        <link href="/assets/estilos/estilo.css" rel="stylesheet">
        <link href="/assets/estilos/resetEstilos.css" rel="stylesheet">
        <link href="/assets/estilos/estilo-producto.css" rel="stylesheet">
        <link href="/assets/estilos/articulos.css" rel="stylesheet">
        <link href="/assets/estilos/ayuda.css" rel="stylesheet">
        <link href="/assets/estilos/lightbox.css" rel="stylesheet">
        <link href="/assets/estilos/principal.css" rel="stylesheet">
        <link href="/assets/estilos/ubicacion.css" rel="stylesheet">
        <link href="/assets/estilos/tablas.css" rel="stylesheet">
        <link href="/assets/estilos/perfilUsuario.css" rel="stylesheet">
        <link href="/assets/estilos/responsive.css" rel="stylesheet">
        <link href="/assets/estilos/spinner.css" rel="stylesheet">
        <link href="/assets/estilos/slideshow.css" rel="stylesheet">
        <script src="/assets/js/carritoControlador.js"></script>
        <script src="/assets/js/main.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ComputadorasYA</title>

        <!--Actualizar estos para los iconos-->
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--*************************************HEADER*******************************************-->
        <header>
            <section>
                <ul class="menuContacto">
                    <li><a href="/ayuda" class="menuContacto__link"><i class='fas fa-question-circle icono'></i>Ayuda</a></li>
                    <li><a href="/ubicacion" class="menuContacto__link"><i class='fas fa-map-marker-alt icono'></i>Ubicacion</a></li>
                    <li><a class="abrirModalTelefonico menuContacto__link" ><i class='fas fa-phone icono'></i>Venta telefonica</a></li>
                    <li><a href="" class="menuContacto__link"><i class='fas fa-comments icono'></i>Whatsapp</a></li>
                </ul>
            </section>
            <section class="menuSecundario max1400">
                <div>
                    <a href="/" class="menuSecundario__logo"><i class='fas fa-tv icono'></i>ComputadorasYA</a>
                </div>
                <div>
                    <input type="text" placeholder="BUSCAR..." id="inputBuscar" class="buscador"/>
                    <button type="button" id="buscadorGeneral" class="campoBoton campoBoton--verdeOscuro menuSecundario--botonPosicion"><i class='fas fa-search'></i></button>
                </div>
                <div class="usuarioCarrito">
                    <div id="botonMenuResponsive">
                        <i class="fas fa-align-justify"></i>
                    </div>
                    <div>
                        <ul>
                            {{#if usuario.Logueado }}
                                <li><a href="/usuario/perfil" class="menu__link--verde"><i class="fas fa-user icono"></i>MI CUENTA</a></li>
                                <li><a id="botonCerrarSesion"><i class="fas fa-door-open icono"></i>CERRAR SESIÓN</a></li>
                            {{else}}
                                <li><a class="abrirModalLogin">INICIA SESIÓN</a></li>
                                <li><a class="abrirModalRegistrarse abrilModalRegistrarse--verde">REGISTRATE</a></li>
                            {{/if}}
                        </ul>
                    </div>
                    <a href="/carrito" class="carrito">
                        <i class='fas fa-shopping-cart carrito--icono'></i>
                        <span id="total" class="carrito--total"></span>
                    </a>
                </div>
            </section>
            <nav >
                <ul class="menu">
                    {{#if usuario.Admin}}
                        <li><a href="/admin" class="menu__link menu__link--verde">ADMINISTRACION</a></li>
                    {{/if}}
                    <li><a href="/producto/buscar/palabra=-1/idcat=10/idsub=-1/idmarca=-1/orden=-1/" class="menu__link">NOTEBOOK</a></li>
                    <li>
                        <a class="menu__link">PRODUCTOS</a>
                        <ul class="menu__submenu">
                            <li><a href="/producto/buscar/palabra=-1/idcat=2/idsub=-1/idmarca=-1/orden=-1/" class="menu__link menu__link--verde">MICROPROCESADORES</a></li>
                            <li><a href="/producto/buscar/palabra=-1/idcat=3/idsub=-1/idmarca=-1/orden=-1/" class="menu__link menu__link--verde">MOTHERBOARDS</a></li>
                            <li><a href="/producto/buscar/palabra=-1/idcat=5/idsub=-1/idmarca=-1/orden=-1/" class="menu__link menu__link--verde">PLACAS DE VIDEO</a></li>
                            <li><a href="/producto/buscar/palabra=-1/idcat=6/idsub=-1/idmarca=-1/orden=-1/" class="menu__link menu__link--verde">ALMACENAMIENTO</a></li>
                            <li><a href="/producto/buscar/palabra=-1/idcat=4/idsub=-1/idmarca=-1/orden=-1/" class="menu__link menu__link--verde">MEMORIAS RAMS</a></li>
                            <li><a href="/producto/buscar/palabra=-1/idcat=8/idsub=-1/idmarca=-1/orden=-1/" class="menu__link menu__link--verde">FUENTES</a></li>
                            <li><a href="/producto/buscar/palabra=-1/idcat=9/idsub=-1/idmarca=-1/orden=-1/" class="menu__link menu__link--verde">GABINETES</a></li>
                            <li><a href="/producto/buscar/palabra=-1/idcat=7/idsub=-1/idmarca=-1/orden=-1/" class="menu__link menu__link--verde">REFRIGERACION</a></li>
                            <li><a href="/producto/buscar/palabra=-1/idcat=12/idsub=-1/idmarca=-1/orden=-1/" class="menu__link menu__link--verde">LECTORAS</a></li>
                            <li><a href="/producto/buscar/palabra=-1/idcat=13/idsub=-1/idmarca=-1/orden=-1/" class="menu__link menu__link--verde">ACCESORIOS</a></li>
                            <li><a href="/producto/buscar/palabra=-1/idcat=14/idsub=-1/idmarca=-1/orden=-1/" class="menu__link menu__link--verde">ASIENTOS</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="menu__link">PERIFERICOS</a>
                        <ul class="menu__submenu">
                            <li><a href="/producto/buscar/palabra=-1/idcat=15/idsub=-1/idmarca=-1/orden=-1/" class="menu__link menu__link--verde">TECLADOS</a></li>
                            <li><a href="/producto/buscar/palabra=-1/idcat=16/idsub=-1/idmarca=-1/orden=-1/" class="menu__link menu__link--verde">MOUSES</a></li>
                            <li><a href="/producto/buscar/palabra=-1/idcat=17/idsub=-1/idmarca=-1/orden=-1/" class="menu__link menu__link--verde">PADS</a></li>
                            <li><a href="/producto/buscar/palabra=-1/idcat=18/idsub=-1/idmarca=-1/orden=-1/" class="menu__link menu__link--verde">AURICULARES</a></li>
                            <li><a href="/producto/buscar/palabra=-1/idcat=19/idsub=-1/idmarca=-1/orden=-1/" class="menu__link menu__link--verde">PARLANTES</a></li>
                            <li><a href="/producto/buscar/palabra=-1/idcat=20/idsub=-1/idmarca=-1/orden=-1/" class="menu__link menu__link--verde">JOYSTICKS</a></li>
                            <li><a href="/producto/buscar/palabra=-1/idcat=21/idsub=-1/idmarca=-1/orden=-1/" class="menu__link menu__link--verde">MONITORES</a></li>
                            <li><a href="/producto/buscar/palabra=-1/idcat=22/idsub=-1/idmarca=-1/orden=-1/" class="menu__link menu__link--verde">IMPRESORAS</a></li>
                            <li><a href="/producto/buscar/palabra=-1/idcat=11/idsub=-1/idmarca=-1/orden=-1/" class="menu__link menu__link--verde">MICROFONO</a></li>
                        </ul>
                    </li>
                    <li><a href="/armar" class="menu__link menu__link--verde">ARMA TU PC</a></li>
                    <li><a href="" class="menu__link">ARMA TU COMBO</a></li>
                    <li><a href="" class="menu__link">PAGO QR</a></li>
                </ul>
            </nav>
        </header>