<!DOCTYPE html>
<html lang="es">
    <head>
        <link href="/assets/estilos/estilo.css" rel=StyleSheet>
        <link href="/assets/estilos/resetEstilos.css" rel=StyleSheet>
        <link href="/assets/estilos/estilo-producto.css" rel="StyleSheet">
        <link href="/assets/estilos/articulos.css" rel="StyleSheet">
        <link href="/assets/estilos/ayuda.css" rel="StyleSheet">
        <link href="/assets/estilos/lightbox.css" rel="StyleSheet">
        <link href="/assets/estilos/principal.css" rel="StyleSheet">
        <link href="/assets/estilos/ubicacion.css" rel="StyleSheet">
        <link href="/assets/estilos/tablas.css" rel="styleSheet">
        <link href="/assets/estilos/perfilUsuario.css" rel="styleSheet">
        <script src="/assets/js/main.js"></script>

        <link rel="icon" href="/assets/img/icono.png" sizes="32x32" type="image/png">
        <title>ComputadorasYA</title>


        <!--Actualizar estos para los iconos-->
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--*************************************HEADER*******************************************-->
        <header>
            <section>
                <ul class="menuContacto">
                    <li><a href="/ayuda" class="menuContacto__link"><i class='fas fa-question-circle icono'></i>Ayuda</a></li>
                    <li><a href="/ubicacion" class="menuContacto__link"><i class='fas fa-map-marker-alt icono'></i>Ubicacion</a></li>
                    <li><a class="abrirModalTelefonico menuContacto__link" ><i class='fas fa-phone icono'></i>Venta telefonica</a></li>
                    <li><a href="" class="menuContacto__link"><i class='fas fa-comments icono'></i>Whatsapp</a></li>
                </ul>
            </section>
            <section class="menuSecundario max1400">
                <div>
                    <a href="/" class="menuSecundario__logo"><i class='fas fa-tv icono'></i>ComputadorasYA</a>
                </div>
                <div>
                    <input type="text" placeholder="BUSCAR..." id="buscador" class="buscador"/>
                    <button  class="campoBoton campoBoton--verdeOscuro menuSecundario--botonPosicion"><i class='fas fa-search'></i></button>
                </div>
                <div class="usuarioCarrito">
                    <div>
                        <ul>
                            <li><a class="abrirModalLogin">INICIA SESION</a></li>
                            <li><a class="abrirModalRegistrarse abrilModalRegistrarse--verde">REGISTRATE</a></li>
                        </ul>
                    </div>
                    <div class="carrito">
                        <i class='fas fa-shopping-cart carrito--icono'></i>
                        <span id="total" class="carrito--total"> 0000</span>
                    </div>
                </div>
            </section>
            <nav >
                <ul class="menu">
                    <li><a href="" class="menu__link">NOTEBOOK</a></li>
                    <li><a href="" class="menu__link">PRODUCTOS</a></li>
                    <li><a href="" class="menu__link">PERIFERICOS</a></li>
                    <li><a href="" class="menu__link menu__link--verde">ARMA TU PC</a></li>
                    <li><a href="" class="menu__link">ARMA TU COMBO</a></li>
                    <li><a href="" class="menu__link">PAGO QR</a></li>
                </ul>
            </nav>
        </header>