<!DOCTYPE html>
<html lang="es">
    <head>
        <link href="/assets/estilos/estilo.css" rel=StyleSheet>
        <link href="/assets/estilos/resetEstilos.css" rel=StyleSheet>
        <link href="/assets/estilos/estilo-producto.css" rel="StyleSheet">
        <link href="/assets/estilos/articulos.css" rel="StyleSheet">
        <link href="/assets/estilos/ayuda.css" rel="StyleSheet">
        <link href="/assets/estilos/lightbox.css" rel="StyleSheet">
        <link href="/assets/estilos/principal.css" rel="StyleSheet">
        <link href="/assets/estilos/ubicacion.css" rel="StyleSheet">
        <link href="/assets/estilos/tablas.css" rel="styleSheet">
        <link href="/assets/estilos/perfilUsuario.css" rel="styleSheet">
        <link href="/assets/estilos/responsive.css" rel="styleSheet">
        <script src="/assets/js/main.js"></script>

        <link rel="icon" href="/assets/img/icono.png" sizes="32x32" type="image/png">
        <title>ComputadorasYA</title>


        <!--Actualizar estos para los iconos-->
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--*************************************HEADER*******************************************-->
        <header>
            <section>
                <ul class="menuContacto">
                    <li><a href="/ayuda" class="menuContacto__link"><i class='fas fa-question-circle icono'></i>Ayuda</a></li>
                    <li><a href="/ubicacion" class="menuContacto__link"><i class='fas fa-map-marker-alt icono'></i>Ubicacion</a></li>
                    <li><a class="abrirModalTelefonico menuContacto__link" ><i class='fas fa-phone icono'></i>Venta telefonica</a></li>
                    <li><a href="" class="menuContacto__link"><i class='fas fa-comments icono'></i>Whatsapp</a></li>
                </ul>
            </section>
            <section class="menuSecundario max1400">
                <div>
                    <a href="/" class="menuSecundario__logo"><i class='fas fa-tv icono'></i>ComputadorasYA</a>
                </div>
                <div>
                    <input type="text" placeholder="BUSCAR..." id="inputBuscar" class="buscador"/>
                    <button type="button" id="buscadorGeneral" class="campoBoton campoBoton--verdeOscuro menuSecundario--botonPosicion"><i class='fas fa-search'></i></button>
                </div>
                <div class="usuarioCarrito">
                    <div id="botonMenuResponsive">
                        <i class="fas fa-align-justify"></i>
                    </div>
                    <div>
                        <ul>
                            <li><a class="abrirModalLogin">INICIA SESION</a></li>
                            <li><a class="abrirModalRegistrarse abrilModalRegistrarse--verde">REGISTRATE</a></li>
                        </ul>
                    </div>
                    <div class="carrito">
                        <i class='fas fa-shopping-cart carrito--icono'></i>
                        <span id="total" class="carrito--total"> 0000</span>
                    </div>
                </div>
            </section>
            <nav >
                <ul class="menu">
                    <li><a href="/producto/buscar/notebook" class="menu__link">NOTEBOOK</a></li>
                    <li>
                        <a class="menu__link">PRODUCTOS</a>
                        <ul class="menu__submenu">
                            <li><a href="/producto/buscar/microfono" class="menu__link menu__link--verde">MICROPROCESADORES</a></li>
                            <li><a href="/producto/buscar/madre" class="menu__link menu__link--verde">MOTHERBOARDS</a></li>
                            <li><a href="/producto/buscar/video" class="menu__link menu__link--verde">PLACAS DE VIDEO</a></li>
                            <li><a href="/producto/buscar/almacenamiento" class="menu__link menu__link--verde">ALMACENAMIENTO</a></li>
                            <li><a href="/producto/buscar/ram" class="menu__link menu__link--verde">MEMORIAS RAMS</a></li>
                            <li><a href="/producto/buscar/fuentes" class="menu__link menu__link--verde">FUENTES</a></li>
                            <li><a href="/producto/buscar/gabinete" class="menu__link menu__link--verde">GABINETES</a></li>
                            <li><a href="/producto/buscar/refrigeracion" class="menu__link menu__link--verde">REFRIGERACION</a></li>
                            <li><a href="/producto/buscar/lectoras" class="menu__link menu__link--verde">LECTORAS</a></li>
                            <li><a href="/producto/buscar/accesorio" class="menu__link menu__link--verde">ACCESORIOS</a></li>
                            <li><a href="/producto/buscar/asiento" class="menu__link menu__link--verde">ASIENTOS</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="menu__link">PERIFERICOS</a>
                        <ul class="menu__submenu">
                            <li><a href="/producto/buscar/teclado" class="menu__link menu__link--verde">TECLADOS</a></li>
                            <li><a href="/producto/buscar/mouse" class="menu__link menu__link--verde">MOUSES</a></li>
                            <li><a href="/producto/buscar/pad" class="menu__link menu__link--verde">PADS</a></li>
                            <li><a href="/producto/buscar/auriculares" class="menu__link menu__link--verde">AURICULARES</a></li>
                            <li><a href="/producto/buscar/parlante" class="menu__link menu__link--verde">PARLANTES</a></li>
                            <li><a href="/producto/buscar/jostick" class="menu__link menu__link--verde">JOYSTICKS</a></li>
                            <li><a href="/producto/buscar/monitor" class="menu__link menu__link--verde">MONITORES</a></li>
                            <li><a href="/producto/buscar/impresora" class="menu__link menu__link--verde">IMPRESORAS</a></li>
                            <li><a href="/producto/buscar/microfono" class="menu__link menu__link--verde">MICROFONO</a></li>
                        </ul>
                    </li>
                    <li><a href="" class="menu__link menu__link--verde">ARMA TU PC</a></li>
                    <li><a href="" class="menu__link">ARMA TU COMBO</a></li>
                    <li><a href="" class="menu__link">PAGO QR</a></li>
                </ul>
            </nav>
        </header>