<!-- Modal Telefonico-->
<div class="modal fade" id="modalTelefonico" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Venta Telefónica</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <h3><i class='fas fa-phone textoVerdeOscuro'></i>(011)0000-0000</h3>
                <p class='my-0'>Horario de atención: Lunes a Viernes: 9:30 hs. a 19:30 hs.</p>
                <p class='my-0'>Sábados: 9:30 hs. a 15:00 hs.</p>
            </div>
            <div class="modal-footer">
                <ul class='pl-0'>
                    <li>Mismos precios y ofertas que en el sitio web.</li>
                    <li>Asesoramiento de especialistas.</li>
                    <li>Pago con tarjetas de crédito o transferencia bancaria.</li>
                    <li>Podés solicitar Factura A.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal Medios de Pago-->
<div class="modal fade" id="modalMediosDePago" tabindex="-1" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">MEDIOS DE PAGO</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <p class='my-0'>PLAN AHORA 12 Y AHORA 18 EN EL LOCAL*</p>
                <p class='my-0'>2 Y 3 PAGOS CON TARJETA DE CREDITO EN EL LOCAL</p>
                <p class='my-0'>MERCADOPAGO VIA WEB</p>
                <p class='my-0'>EFECTIVO EN EL LOCAL</p>
                <p class='my-0'>TRANSFERENCIA BANCARIA O DEPOSITO</p>
            </div>
            <div class="modal-footer">
                <p>*LOS PLANES AHORA 12 Y AHORA 18 SON PARA VISA Y MASTERCARD DE TODOS LOS BANCOS Y ESTAN DISPONIBLES
                    TODOS
                    LOS DIAS</p>
                <p>*AMERICAN EXPRESS DE BANCO MACRO, BANCO HSBC, BANCO SANTANDER RIO, BANCO GALICIA Y BANCO PATAGONIA
                </p>
            </div>
        </div>
    </div>
</div>