        <!--*************************************MODAL-LOGIN*******************************************-->         
        <section class="modal" id="modalLogin">
            <section class="modalVentana">
                <i class="fas fa-times verde modalVentana__cerrar"></i>

                <h3 class="linea-separadora">INICIAR SESIÓN</h3>
                <form action="/login" method="POST" id="loginForm">
                    <button class="campoBoton campoBoton--azul"><i class="fab fa-google loginGoogle--ancho"></i>INICIAR SESIÓN CON GOOGLE</button>
                    <h3> o </h3>
                    <input type="email" name="email" id="emailLogin" class="campo-imput" placeholder="Ingrese su email">
                    <input type="password" name="password" id="passwordLogin" class="campo-imput" placeholder="Ingrese su contraseña">
                    <p id="mensajeLogin" class="textoRojo"></p>
                    <input type="submit" value="ACCEDER" class="campoBoton campoBoton--verdeOscuro">
                </form>
            </section>
        </section>
        <!--*************************************MODAL-REGISTRARSE*******************************************--> 
        <section class="modal" id="modalRegistrarse">
            <section class="modalVentana">
                <i class="fas fa-times verde modalVentana__cerrar"></i>

                <h3 class="linea-separadora">REGISTRARSE</h3>
                <form id="usuarioForm" action="/usuario/guardar" method="POST">
                    <input type="text" name="nombre" class="campo-imput" placeholder="Ingrese su nombre" minlength="1" maxlength="45" id="nombre">
                    <input type="text" name="apellido" class="campo-imput" placeholder="Ingrese su apellido" minlength="1" maxlength="45" id="apellido">
                    <input type="number" name="telefono" class="campo-imput" placeholder="Ingrese su telefono" id="telefono">
                    <input type="number" name="documento" class="campo-imput" placeholder="Ingrese su DNI/CUIT" max="99999999" min="10000000" id="documento">
                    <input type="email" name="email" class="campo-imput" placeholder="Ingrese su email" id="email">
                    <input type="password" name="password" class="campo-imput" placeholder="Ingrese su contraseña" id="password">
                    <input type="submit" value="REGISTRARME" class="campoBoton campoBoton--verdeOscuro">
                </form>
            </section>
        </section>