{{> head }}

            <section class="max1400">
                <h3 class="titular"><i class="fas fa-wrench verde"></i>PANEL DE ADMINISTRACION</h3>
            </section>

            <section class="max1400">
                <a href="" class="botonLargo">
                    <i class="fas fa-chart-line botonLargo__icono--verde"></i>
                    ADMINISTRAR COMPRAS
                </a>
                <a href="/producto" class="botonLargo">
                    <i class="fas fa-poll botonLargo__icono--verde"></i>
                    ADMINISTRAR PRODUCTOS
                </a>
                <a href="/usuario" class="botonLargo">
                    <i class="fas fa-address-card botonLargo__icono--verde"></i>
                    ADMINISTRAR USUARIOS
                </a>
            </section>