{{> head }}
<section class="container">
    <div class="row">
        <article class="col">
            <h3 class="bg-dark text-white p-3 my-3 rounded-3"><i class="fas fa-wrench textoVerde me-3"></i>Panel de administración
            </h3>
        </article>

        <article>
            <a href="/pedido/ver-tabla" class="h4 btn-violeta p-3 my-3 rounded-3 mb-3 d-block">
                <i class="fas fa-chart-line textoVerde"></i>
                Administrar compras
            </a>
            <a href="/producto" class="h4 btn-violeta p-3 my-3 rounded-3 mb-3 d-block">
                <i class="fas fa-poll textoVerde"></i>
                Administrar productos
            </a>
            <a href="/usuario" class="h4 btn-violeta p-3 my-3 rounded-3 mb-3 d-block">
                <i class="fas fa-address-card textoVerde"></i>
                Administrar usuarios
            </a>
        </article>
    </div>
</section>

{{> footer }}