{{>head}}

<section class="max1400">
    <h3 class="titular">
        <i class="fas fa-tools verde"></i>
        ARMA TU PC!
    </h3>
</section>

<section class="max1400 flex-contenedor">
    <aside class="infoArmado">
        <article class="infoArmado__articulo flex-contenedor">
                <img src="/assets/img/iconoProcesador.png" class="infoArmado__articulo__img"/>
            <div class="infoArmado__texto">
                <h3>Paso 1 de 14</h3>
                <p>Total acumulado</p>
                <span class="letraVerdeOscuro">ARS 0.00</span>
            </div>
        </article>
        <article class="infoArmado__articulo">
            <h2 class="letraVerdeOscuro">COMPONENTES AGREGADOS</h2>
        </article>
        <article class="infoArmado__articulo flex-contenedor">
                <img src="/assets/img/iconoProcesador.png" class="infoArmado__articulo__img"/>
            <div class="infoArmado__texto">
                <h3>Microprocesador</h3>
                <p>Todavia no seleccionado</p>
            </div>
        </article>
        <article class="infoArmado__articulo flex-contenedor">
                <img src="/assets/img/iconoCooler.png" class="infoArmado__articulo__img"/>
            <div class="infoArmado__texto">
                <h3>Cooler</h3>
                <p>Todavia no seleccionado</p>
            </div>
        </article>
    </aside>
    <section class="listaProducto flex-contenedor-start">
        <article class="listaProducto__encabezado flex-contenedor">
            <img src="/assets/img/iconoProcesador.png" class="listaProducto__articulo__img"s/>
            <div>
                <h2>Selecciona tu micro</h2>
            </div>
        </article>
        <article class="listaProducto__articulo flex-contenedor">
            <img src="/assets/img/hyperx.jpg" class="listaProducto__articulo__img"s/>
            <div>
                <h3>Notebook Lenovo V15 I5 4GB 1TB FREE DOS 15" + Mochila KEBPL00</h3>
                <span class="producto__precio letraVerdeOscuro">ARS 4000</span>
            </div>
        </article>
        <article class="listaProducto__articulo flex-contenedor">
            <img src="/assets/img/hyperx.jpg" class="listaProducto__articulo__img"s/>
            <div>
                <h3>Notebook Lenovo V15 I5 4GB 1TB FREE DOS 15" + Mochila KEBPL00</h3>
                <span class="producto__precio letraVerdeOscuro">ARS 4000</span>
            </div>
        </article>
        <article class="listaProducto__articulo flex-contenedor">
            <img src="/assets/img/hyperx.jpg" class="listaProducto__articulo__img"s/>
            <div>
                <h3>Notebook Lenovo V15 I5 4GB 1TB FREE DOS 15" + Mochila KEBPL00</h3>
                <span class="producto__precio letraVerdeOscuro">ARS 4000</span>
            </div>
        </article>
    </section>
</section>

{{>footer}}