{{>head}}
{{> modal }}
{{> modalLogin}}
<section class="max1400">
    <h3 class="titular">
        <i class="fas fa-tools verde"></i>
        ARMA TU PC!
    </h3>
</section>

<section class="max1400 flex-contenedor">
    <aside class="infoArmado">
    </aside>
    <section class="listaProducto flex-contenedor-start">
        <a class="marcaLogo">
            <img src="/assets/img/iconoIntel2.jpg" data-marca='9' data-subcategoria="5">
        </a>
        <a class="marcaLogo">
            <img src="/assets/img/iconoAmd2.jpg" data-marca='10' data-subcategoria="4">
        </a>
    </section>
</section>

<script src='/assets/js/armarpc.js'></script>

{{>footer}}