<!DOCTYPE html>
<html>
    <head>
        <link href="../public/assets/estilos/estilo.css" rel=StyleSheet>
        <link href="../public/assets/estilos/resetEstilos.css" rel=StyleSheet>
        <link href="../public/assets/estilos/estilo-producto.css" rel="StyleSheet">
        <link href="../public/assets/estilos/articulos.css" rel="StyleSheet">
        <link href="../public/assets/estilos/ayuda.css" rel="StyleSheet">
        <link href="../public/assets/estilos/lightbox.css" rel="StyleSheet">
        <link href="../public/assets/estilos/principal.css" rel="StyleSheet">
        <link href="../public/assets/estilos/ubicacion.css" rel="StyleSheet">
        <script src="../public/assets/js/main.js"></script>
        
        <!--Actualizar estos para los iconos-->
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--*************************************HEADER*******************************************-->
        <header>
            <section class="menu_contacto">
                <ul>
                    <li><a href="ayuda.html"><i class='fas fa-question-circle icono'></i>Ayuda</a></li>
                    <li><a href="ubicacion.html"><i class='fas fa-map-marker-alt icono'></i>Ubicacion</a></li>
                    <li><a class="abrirModalTelefonico"><i class='fas fa-phone icono'></i>Venta telefonica</a></li>
                    <li><a href=""><i class='fas fa-comments icono'></i>Whatsapp</a></li>
                </ul>
            </section>
            <section class="menu_secundario max1400">
                <div class="logo">
                    <a href="index.html"><i class='fas fa-tv icono'></i>ComputadorasYA</a>
                </div>
                <div>
                    <input type="text" placeholder="BUSCAR..." id="buscador"/>
                    <button id="buscar"><i class='fas fa-search'></i></button>
                </div>
                <div class="usuario_carrito">
                    <div>
                        <ul>
                            <li><a href="" id="iniciar_sesion">INICIA SESION</a></li>
                            <li><a href="" id="registrarse">REGISTRATE</a></li>
                        </ul>
                    </div>
                    <div class="carrito">
                        <i class='fas fa-shopping-cart'></i>
                        <span id="total"> 0000</span>
                    </div>
                </div>
            </section>
            <nav class="menu">
                <ul>
                    <li><a href="">NOTEBOOK</a></li>
                    <li><a href="">PRODUCTOS</a></li>
                    <li><a href="">PERIFERICOS</a></li>
                    <li><a href="">ARMA TU PC</a></li>
                    <li><a href="">ARMA TU COMBO</a></li>
                    <li><a href="">PAGO QR</a></li>
                </ul>
            </nav>
        </header>
        <!--*************************************MODAL-TELEFONICO*******************************************--> 
        <section class="modal" id="modalTelefonico">
            <section class="modal-ventana">
                <i class="fas fa-times verde cerrar"></i>
            
                <h3 class="linea-separadora">Venta Telefónica</h3>
            
                <a><i class='fas fa-phone icono verde'></i>(011)0000-0000</a>
                <p>Horario de atención: Lunes a Viernes: 9:30 hs. a 19:30 hs.</p>
                <p class="linea-separadora">Sábados: 9:30 hs. a 15:00 hs.</p>
            
                <ul>
                    <li>Mismos precios y ofertas que en el sitio web.</li>
                    <li>Asesoramiento de especialistas.</li>
                    <li>Pago con tarjetas de crédito o transferencia bancaria.</li>
                    <li>Podés solicitar Factura A.</li>
                </ul>
            </section>
        </section>
        <!--*************************************MODAL-MEDIOS-DE-PAGO*******************************************--> 
        <section class="modal" id="modalMediosDePago">
            <section class="modal-ventana">
                <i class="fas fa-times verde cerrar"></i>
            
                <h3 class="linea-separadora">MEDIOS DE PAGO</h3>
                
                <article>
                    <p>PLAN AHORA 12 Y AHORA 18 EN EL LOCAL*</p>
                    <p>2 Y 3 PAGOS CON TARJETA DE CREDITO EN EL LOCAL</p>
                    <p>MERCADOPAGO VIA WEB</p>
                    <p>EFECTIVO EN EL LOCAL</p>
                    <p>TRANSFERENCIA BANCARIA O DEPOSITO</p>
                </article>
                <article>
                    <p>*LOS PLANES AHORA 12 Y AHORA 18 SON PARA VISA Y MASTERCARD DE TODOS LOS BANCOS Y ESTAN DISPONIBLES TODOS LOS DIAS</p>
                    <p>*AMERICAN EXPRESS DE BANCO MACRO, BANCO HSBC, BANCO SANTANDER RIO, BANCO GALICIA Y BANCO PATAGONIA</p>
                </article>
            </section>

        </section>
        <section class="max1400 flex-contenedor">
            <section class="encabezado">
                <div>
                    <i class="fa fa-arrow-circle-right"></i>
                    <a>Notebook</a> 
                </div>
                <div>
                    <select name="ordenar" size="1">
                        <option value="mayor-precio">Mayor precio</option>
                        <option value="menor-precio">Menor-precio</option>
                        <option value="alfebaticamente-a-z">Nombre A - Z</option>
                        <option value="alfebaticamente-z-a">Nombre Z - A</option>
                    </select>
                    <a><i class='fas fa-th grande verde'></i></a>
                    <a><i class='fas fa-align-justify grande verde'></i></a>
                </div>
            </section>
            <!--************ASIDE CATEGORIA**********-->
            <aside class="categoria">
                <ul>
                    <li>Notebook</li>
                    <li>
                        <input type="checkbox" id="notebook" name="">
                        <label for="notebook">Notebook</label>
                    </li>
                </ul>
                <ul>
                    <li>Marca</li>
                    <li>
                        <input type="checkbox" id="msi" name="">
                        <label for="msi">MSI</label>
                    </li>
                    <li>
                        <input type="checkbox" id="asus" name="">
                        <label for="asus">Asus</label>
                    </li>
                    <li>
                        <input type="checkbox" id="lenovo" name="">
                        <label for="lenovo">Lenovo</label>
                    </li>
                </ul>
            </aside>
            <!--************SECCION PRODUCTOS**********-->
            <section class="flex-contenedor lista-productos">
                <figure class="producto">
                    <a href="" class="interaccionArticulo">
                        <img src="../public/assets/img/hyperx.jpg">
                        <span class="mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="interaccionArticulo">
                        <img src="../public/assets/img/hyperx.jpg">
                        <span class="mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="interaccionArticulo">
                        <img src="../public/assets/img/hyperx.jpg">
                        <span class="mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="interaccionArticulo">
                        <img src="../public/assets/img/hyperx.jpg">
                        <span class="mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="interaccionArticulo">
                        <img src="../public/assets/img/hyperx.jpg">
                        <span class="mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="interaccionArticulo">
                        <img src="../public/assets/img/hyperx.jpg">
                        <span class="mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="interaccionArticulo">
                        <img src="../public/assets/img/hyperx.jpg">
                        <span class="mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="interaccionArticulo">
                        <img src="../public/assets/img/hyperx.jpg">
                        <span class="mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="interaccionArticulo">
                        <img src="../public/assets/img/hyperx.jpg">
                        <span class="mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="interaccionArticulo">
                        <img src="../public/assets/img/hyperx.jpg">
                        <span class="mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="precio">ARS 2800</figcaption>
                </figure>
            </section>
        </section>
        <!--*************************************FOOTER*******************************************-->       
        <footer>
            <div class="max1400 flex-contenedor">
                <ol>
                    <h3>Categorias</h3>
                    <li><a href="">Placas de video</a></li>
                    <li><a href="">Procesadores</a></li>
                    <li><a href="">Memorias</a></li>
                    <li><a href="">Almacenamiento</a></li>
                    <li><a href="">Refrigeracion</a></li>
                    <li><a href="">Todas las categorias</a></li>
                </ol>
                <ol>
                    <h3>Marcas</h3>
                    <li><a href="">Aorus</a></li>
                    <li><a href="">Asus</a></li>
                    <li><a href="">Adata</a></li>
                    <li><a href="">Seagate</a></li>
                    <li><a href="">Ballistix</a></li>
                    <li><a href="">AMD</a></li>
                </ol>
                <ol>
                    <h3>Lo mas buscado</h3>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ol>
                <ol>
                    <h3>Ayuda</h3>
                    <li><a href="ubicacion.html">Ubicacion</a></li>
                    <li><a class="abrirModalMediosDePago">Medios de pago</a></li>
                    <li><a class="abrirModalTelefonico">Venta telefonica</a></li>
                    <li><a href="">Whatsapp</a></li>
                    <li><a href="">Email</a></li>
                    <li><a href="">FAQ</a></li>
                </ol>
                <div>
                    <h3>Seguinos en las Redes</h3>
                    <ol class="flex-contenedor">
                    <li><a href=""><img src="../public/assets/img/facebook.ico"></a></li>
                    <li><a href=""><img src="../public/assets/img/instagram.ico"></a></li>
                    <li><a href=""><img src="../public/assets/img/youtube.ico"></a></li>
                    </ol>
                </div>
            </div>
        </footer>
    </body>
</html>