
{{> head }}

    {{> modal }}
        <section class="max1400 flex-contenedor">
            <section class="encabezado">
                <div>
                    <i class="fa fa-arrow-circle-right"></i>
                    <a>Notebook</a> 
                </div>
                <div>
                    <select name="ordenar" size="1">
                        <option value="mayor-precio">Mayor precio</option>
                        <option value="menor-precio">Menor-precio</option>
                        <option value="alfebaticamente-a-z">Nombre A - Z</option>
                        <option value="alfebaticamente-z-a">Nombre Z - A</option>
                    </select>
                    <a><i class='fas fa-th encabezado--grande verde'></i></a>
                    <a><i class='fas fa-align-justify encabezado--grande verde'></i></a>
                </div>
            </section>
            <!--************ASIDE CATEGORIA**********-->
            <aside class="categoria">
                <ul class="categoria__especificacion">
                    <li class="categoria__especificacion--verde">Notebook</li>
                    <li>
                        <input type="checkbox" id="notebook" name="">
                        <label for="notebook">Notebook</label>
                    </li>
                </ul>
                <ul class="categoria_especificacion">
                    <li class="categoria__especificacion--verde">Marca</li>
                    <li>
                        <input type="checkbox" id="msi" name="">
                        <label for="msi">MSI</label>
                    </li>
                    <li>
                        <input type="checkbox" id="asus" name="">
                        <label for="asus">Asus</label>
                    </li>
                    <li>
                        <input type="checkbox" id="lenovo" name="">
                        <label for="lenovo">Lenovo</label>
                    </li>
                </ul>
            </aside>
            <!--************SECCION PRODUCTOS**********-->
            <section class="flex-contenedor lista-productos">
                <figure class="producto">
                    <a href="" class="producto__interaccionArticulo">
                        <img src="/assets/img/hyperx.jpg" class="producto__img">
                        <span class="producto__mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="producto__precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="producto__interaccionArticulo">
                        <img src="/assets/img/hyperx.jpg" class="producto__img">
                        <span class="producto__mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="producto__precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="producto__interaccionArticulo">
                        <img src="/assets/img/hyperx.jpg" class="producto__img">
                        <span class="producto__mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="producto__precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="producto__interaccionArticulo">
                        <img src="/assets/img/hyperx.jpg" class="producto__img">
                        <span class="producto__mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="producto__precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="producto__interaccionArticulo">
                        <img src="/assets/img/hyperx.jpg" class="producto__img">
                        <span class="producto__mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="producto__precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="producto__interaccionArticulo">
                        <img src="/assets/img/hyperx.jpg" class="producto__img">
                        <span class="producto__mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="producto__precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="producto__interaccionArticulo">
                        <img src="/assets/img/hyperx.jpg" class="producto__img">
                        <span class="producto__mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="producto__precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="producto__interaccionArticulo">
                        <img src="/assets/img/hyperx.jpg" class="producto__img">
                        <span class="producto__mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="producto__precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="producto__interaccionArticulo">
                        <img src="/assets/img/hyperx.jpg" class="producto__img">
                        <span class="producto__mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="producto__precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="producto__interaccionArticulo">
                        <img src="/assets/img/hyperx.jpg" class="producto__img">
                        <span class="producto__mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="producto__precio">ARS 2800</figcaption>
                </figure>
            </section>
        </section>

{{> footer }}