
{{> head }}

        <!--*************************************MODAL-TELEFONICO*******************************************--> 
        <section class="modal" id="modalTelefonico">
            <section class="modal-ventana">
                <i class="fas fa-times verde cerrar"></i>
            
                <h3 class="linea-separadora">Venta Telefónica</h3>
            
                <a><i class='fas fa-phone icono verde'></i>(011)0000-0000</a>
                <p>Horario de atención: Lunes a Viernes: 9:30 hs. a 19:30 hs.</p>
                <p class="linea-separadora">Sábados: 9:30 hs. a 15:00 hs.</p>
            
                <ul>
                    <li>Mismos precios y ofertas que en el sitio web.</li>
                    <li>Asesoramiento de especialistas.</li>
                    <li>Pago con tarjetas de crédito o transferencia bancaria.</li>
                    <li>Podés solicitar Factura A.</li>
                </ul>
            </section>
        </section>
        <!--*************************************MODAL-MEDIOS-DE-PAGO*******************************************--> 
        <section class="modal" id="modalMediosDePago">
            <section class="modal-ventana">
                <i class="fas fa-times verde cerrar"></i>
            
                <h3 class="linea-separadora">MEDIOS DE PAGO</h3>
                
                <article>
                    <p>PLAN AHORA 12 Y AHORA 18 EN EL LOCAL*</p>
                    <p>2 Y 3 PAGOS CON TARJETA DE CREDITO EN EL LOCAL</p>
                    <p>MERCADOPAGO VIA WEB</p>
                    <p>EFECTIVO EN EL LOCAL</p>
                    <p>TRANSFERENCIA BANCARIA O DEPOSITO</p>
                </article>
                <article>
                    <p>*LOS PLANES AHORA 12 Y AHORA 18 SON PARA VISA Y MASTERCARD DE TODOS LOS BANCOS Y ESTAN DISPONIBLES TODOS LOS DIAS</p>
                    <p>*AMERICAN EXPRESS DE BANCO MACRO, BANCO HSBC, BANCO SANTANDER RIO, BANCO GALICIA Y BANCO PATAGONIA</p>
                </article>
            </section>

        </section>
        <section class="max1400 flex-contenedor">
            <section class="encabezado">
                <div>
                    <i class="fa fa-arrow-circle-right"></i>
                    <a>Notebook</a> 
                </div>
                <div>
                    <select name="ordenar" size="1">
                        <option value="mayor-precio">Mayor precio</option>
                        <option value="menor-precio">Menor-precio</option>
                        <option value="alfebaticamente-a-z">Nombre A - Z</option>
                        <option value="alfebaticamente-z-a">Nombre Z - A</option>
                    </select>
                    <a><i class='fas fa-th grande verde'></i></a>
                    <a><i class='fas fa-align-justify grande verde'></i></a>
                </div>
            </section>
            <!--************ASIDE CATEGORIA**********-->
            <aside class="categoria">
                <ul>
                    <li>Notebook</li>
                    <li>
                        <input type="checkbox" id="notebook" name="">
                        <label for="notebook">Notebook</label>
                    </li>
                </ul>
                <ul>
                    <li>Marca</li>
                    <li>
                        <input type="checkbox" id="msi" name="">
                        <label for="msi">MSI</label>
                    </li>
                    <li>
                        <input type="checkbox" id="asus" name="">
                        <label for="asus">Asus</label>
                    </li>
                    <li>
                        <input type="checkbox" id="lenovo" name="">
                        <label for="lenovo">Lenovo</label>
                    </li>
                </ul>
            </aside>
            <!--************SECCION PRODUCTOS**********-->
            <section class="flex-contenedor lista-productos">
                <figure class="producto">
                    <a href="" class="interaccionArticulo">
                        <img src="/assets/img/hyperx.jpg">
                        <span class="mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="interaccionArticulo">
                        <img src="/assets/img/hyperx.jpg">
                        <span class="mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="interaccionArticulo">
                        <img src="/assets/img/hyperx.jpg">
                        <span class="mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="interaccionArticulo">
                        <img src="/assets/img/hyperx.jpg">
                        <span class="mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="interaccionArticulo">
                        <img src="/assets/img/hyperx.jpg">
                        <span class="mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="interaccionArticulo">
                        <img src="/assets/img/hyperx.jpg">
                        <span class="mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="interaccionArticulo">
                        <img src="/assets/img/hyperx.jpg">
                        <span class="mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="interaccionArticulo">
                        <img src="/assets/img/hyperx.jpg">
                        <span class="mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="interaccionArticulo">
                        <img src="/assets/img/hyperx.jpg">
                        <span class="mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="interaccionArticulo">
                        <img src="/assets/img/hyperx.jpg">
                        <span class="mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="precio">ARS 2800</figcaption>
                </figure>
            </section>
        </section>

{{> footer }}