
{{> head }}

        <!--*************************************MODAL-TELEFONICO*******************************************--> 
        <section class="modal" id="modalTelefonico">
            <section class="modal-ventana">
                <i class="fas fa-times verde cerrar"></i>
            
                <h3 class="linea-separadora">Venta Telefónica</h3>
            
                <a><i class='fas fa-phone icono verde'></i>(011)0000-0000</a>
                <p>Horario de atención: Lunes a Viernes: 9:30 hs. a 19:30 hs.</p>
                <p class="linea-separadora">Sábados: 9:30 hs. a 15:00 hs.</p>
            
                <ul>
                    <li>Mismos precios y ofertas que en el sitio web.</li>
                    <li>Asesoramiento de especialistas.</li>
                    <li>Pago con tarjetas de crédito o transferencia bancaria.</li>
                    <li>Podés solicitar Factura A.</li>
                </ul>
            </section>
        </section>
        <!--*************************************MODAL-MEDIOS-DE-PAGO*******************************************--> 
        <section class="modal" id="modalMediosDePago">
            <section class="modal-ventana">
                <i class="fas fa-times verde cerrar"></i>
            
                <h3 class="linea-separadora">MEDIOS DE PAGO</h3>
                
                <article>
                    <p>PLAN AHORA 12 Y AHORA 18 EN EL LOCAL*</p>
                    <p>2 Y 3 PAGOS CON TARJETA DE CREDITO EN EL LOCAL</p>
                    <p>MERCADOPAGO VIA WEB</p>
                    <p>EFECTIVO EN EL LOCAL</p>
                    <p>TRANSFERENCIA BANCARIA O DEPOSITO</p>
                </article>
                <article>
                    <p>*LOS PLANES AHORA 12 Y AHORA 18 SON PARA VISA Y MASTERCARD DE TODOS LOS BANCOS Y ESTAN DISPONIBLES TODOS LOS DIAS</p>
                    <p>*AMERICAN EXPRESS DE BANCO MACRO, BANCO HSBC, BANCO SANTANDER RIO, BANCO GALICIA Y BANCO PATAGONIA</p>
                </article>
            </section>

        </section>
            <section class="max1400">
                <h3 class="titular"><i class="fas fa-question-circle verde"></i>CENTRO DE AYUDA</h3>
            </section>
            <section class="max1400 ayuda">
                <article>
                    <h3 class="boton-ocultar-mostrar"><i class="fas fa-info"></i>COMO COMPRAR</h3>
                    <div class="info-ocultar-mostrar">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                    </div>
                </article>
                <article>
                    <h3 class="boton-ocultar-mostrar "><i class="fas fa-question-circle"></i>PREGUNTAS FRECUENTES</h3>
                    <div class="info-ocultar-mostrar">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                    </div>
                </article>
            </section>
            
{{> footer }}