{{>head }}

<section class="container">
    <div class="row">
        <div class="col">
            <h3 class="bg-dark text-white p-3 my-3 rounded-3">Confirme su compra</h3>
            <h4 id="subtitular" class='text-center'><i class="fa fa-arrow-circle-down icono"></i>Productos en su carrito
            </h4>
            <article id="listaCarrito">

            </article>
            <article id='interfazComprar'>
            </article>
        </div>
    </div>
</section>

<script>
    mostrarProductosDelCarrito();
    eventoEliminarProducto();
    eventoVaciarCarrito();
    eventoEnviarCarrito()
</script>
{{>footer}}