
{{> head }}

    {{> modal }}

        <!--*******************SECCION LISTA-DE-MARCAS LIGHTBOX ARTICULOS Y LISTA-LIGHTBOX**********************-->
        <section>
            <ul class="lista_marca">
                <li><a><img src="/assets/img/logo_amd.jpg"></a></li>
                <li><a><img src="/assets/img/logo_intel.jpg"></a></li>
                <li><a><img src="/assets/img/logo_logitech.png"></a></li>
                <li><a><img src="/assets/img/logo_redragon.png"></a></li>
                <li><a><img src="/assets/img/logo_nvidia.png"></a></li>
                <li><a><img src="/assets/img/logo_viewsonic.png"></a></li>
            </ul>
            <article class="lightbox">
                <img src="/assets/img/lightbox.png">
            </article>
            <article class="articulo1 max1400">
                <div>
                    <h3><i class="far fa-credit-card icono"></i>PAGA EN CUOTAS</h3>
                    <p>Ver promociones</p>
                </div>
                <div>
                    <h3><i class="far fa-calendar-alt icono"></i>HORARIOS</h3>
                    <p>Lunes a viernes de 9:30 a 19:30 hs.</br>
                    Sabados de 9:30 a 17hs.</p>
                </div>
                <div>
                    <h3><i class="fas fa-map-marker-alt icono"></i>RETIRA GRATIS</h3>
                    <p>¿Donde estamos?</p>
                </div>
                <div>
                    <h3><i class="fas fa-shipping-fast icono"></i>ENVIOS A TODO EL PAIS</h3>
                    <p>Rapido y seguro</p>
                </div>
            </article>
            <article class="lista_lightbox">
                <ul class="flex-contenedor">
                    <li><a href=""><img src="/assets/img/logo_cougar.png"></a></li>
                    <li><a href=""><img src="/assets/img/logo_samsung.jfif"></a></li>
                    <li><a href=""><img src="/assets/img/logo_kingston.png"></a></li>
                    <li><a href=""><img src="/assets/img/logo_amd2.jpg"></a></li>
                    <li><a href=""><img src="/assets/img/logo_asus.jpg"></a></li>
                    <li><a href=""><img src="/assets/img/logo_intel2.jpg"></a></li>
                    <li><a href=""><img src="/assets/img/logo_zotac.png"></a></li>
                    <li><a href=""><img src="/assets/img/logo_msi.jpg"></a></li>
                    <li><a href=""><img src="/assets/img/logo_evga.jpg"></a></li>
                    <li><a href=""><img src="/assets/img/logo_logitech2.png"></a></li>
                    <li><a href=""><img src="/assets/img/logo_ballistic.jpg"></a></li>
                </ul>
            </article>
        </section>
        <!--*****************************SECCION PC-GAMERS**********************************-->   
        <section class="centro max1400">
            <h3 class="titulo">PC GAMERS</h2>
            <article class="flex-contenedor">
                    <figure class="especificacion">
                        <a href=""><img src="/assets/img/pcgamer1.png"></a>
                        <figcaption>BASE</figcaption>
                    </figure>

                    <figure class="especificacion">
                        <a href=""><img src="/assets/img/pcgamer2.jpg"></a>
                        <figcaption>MEDIA</figcaption>
                    </figure>

                    <figure class="especificacion">
                        <a href=""><img src="/assets/img/pcgamer3.png"></a>
                        <figcaption>ALTA</figcaption>
                    </figure>

                    <figure class="especificacion">
                        <a href=""><img src="/assets/img/pcgamer4.png"></a>
                        <figcaption>PRO</figcaption>
                    </figure>
            </article>
        </section>
        <!--*****************************SECCION PC-RECOMENDADAS**********************************-->   
        <section class="centro max1400">
            <h3 class="titulo">PC RECOMENDADAS</h3>
            <article class="flex-contenedor">
                <figure class="especificacion">
                    <a href=""><img src="/assets/img/notebook.png"></a>
                    <figcaption>NOTEBOOK</figcaption>
                </figure>

                <figure class="especificacion">
                    <a href=""><img src="/assets/img/diseño.jpg"></a>
                    <figcaption>DISEÑO</figcaption>
                </figure>

                <figure class="especificacion">
                    <a href=""><img src="/assets/img/streaming.png"></a>
                    <figcaption>STREAMING</figcaption>
                </figure>

                <figure class="especificacion">
                    <a href=""><img src="/assets/img/oficina.png"></a>
                <figcaption>OFICINA</figcaption>
            </figure>
        </article>

        </section>
        <!--*****************************SECCION PRODUCTOS-DESTACADOS**********************************-->        
        <section class="centro max1400">
            <h3 class="titulo">PRODUCTOS DESTACADOS</h3>
            <article class="flex-contenedor">
                <figure class="producto">
                    <a href="" class="interaccionArticulo">
                        <img src="/assets/img/hyperx.jpg">
                        <span class="producto__mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="producto__precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="interaccionArticulo">
                        <img src="/assets/img/hyperx.jpg">
                        <span class="producto__mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="producto__precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="interaccionArticulo">
                        <img src="/assets/img/hyperx.jpg">
                        <span class="producto__mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="producto__precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="interaccionArticulo">
                        <img src="/assets/img/hyperx.jpg">
                        <span class="producto__mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="producto__precio">ARS 2800</figcaption>
                </figure>
            </article>
        </section>
        <!--*****************************SECCION BANNER**********************************-->         
        <section class="banner">
            <a src=""> 
                <img src="/assets/img/banner.png">
            </a>
            <a src="">
                <img src="/assets/img/banner2.png" class="banner2">
            </a>
        </section>

{{> footer }}