
{{> head }}

    {{> modal }}
    {{> modalLogin}}
        <!--*******************SECCION LISTA-DE-MARCAS LIGHTBOX ARTICULOS Y LISTA-LIGHTBOX**********************-->
        <section>
            <ul class="listaMarca">
                <li><a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=10/orden=-1/"><img src="/assets/img/logo_amd.jpg" class="listaMarca__img"></a></li>
                <li><a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=9/orden=-1/"><img src="/assets/img/logo_intel.jpg" class="listaMarca__img"></a></li>
                <li><a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=21/orden=-1/"><img src="/assets/img/logo_logitech.png" class="listaMarca__img"></a></li>
                <li><a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=7/orden=-1/"><img src="/assets/img/logo_redragon.png" class="listaMarca__img"></a></li>
                <li><a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=100/orden=-1/"><img src="/assets/img/logo_nvidia.png" class="listaMarca__img"></a></li>
                <li><a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=22/orden=-1/"><img src="/assets/img/logo_viewsonic.png" class="listaMarca__img"></a></li>
            </ul>
            <article class="lightboxGrande">
                <img src="/assets/img/lightbox.png" class="lightboxGrande__img">
            </article>
            <article class="informacion max1400">
                <div class="informacion__bloque">
                    <h3 class="informacion__bloque__texto"><i class="far fa-credit-card icono"></i>PAGA EN CUOTAS</h3>
                    <p class="informacion__bloque__texto"><a class="abrirModalMediosDePago">Ver promociones</a></p>
                </div>
                <div class="informacion__bloque">
                    <h3 class="informacion__bloque__texto"><i class="far fa-calendar-alt icono"></i>HORARIOS</h3>
                    <p class="informacion__bloque__texto">Lunes a viernes de 9:30 a 19:30 hs.</br>
                    Sabados de 9:30 a 17hs.</p>
                </div>
                <div class="informacion__bloque">
                    <h3 class="informacion__bloque__texto"><i class="fas fa-map-marker-alt icono"></i>RETIRA GRATIS</h3>
                    <p class="informacion__bloque__texto">¿Donde estamos?</p>
                </div>
                <div class="informacion__bloque">
                    <h3 class="informacion__bloque__texto"><i class="fas fa-shipping-fast icono"></i>ENVIOS A TODO EL PAIS</h3>
                    <p class="informacion__bloque__texto">Rapido y seguro</p>
                </div>
            </article>
            <article class="lightboxMarca">
                <ul class="flex-contenedor listaLightboxMarca">
                    <li class="listaLightboxMarca__link"><a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=23/orden=-1/"><img src="/assets/img/logo_cougar.png" class="listaLightboxMarca__link__img"></a></li>
                    <li class="listaLightboxMarca__link"><a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=8/orden=-1/"><img src="/assets/img/logo_samsung.jfif" class="listaLightboxMarca__link__img"></a></li>
                    <li class="listaLightboxMarca__link"><a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=11/orden=-1/"><img src="/assets/img/logo_kingston.png" class="listaLightboxMarca__link__img"></a></li>
                    <li class="listaLightboxMarca__link"><a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=10/orden=-1/"><img src="/assets/img/logo_amd2.jpg" class="listaLightboxMarca__link__img"></a></li>
                    <li class="listaLightboxMarca__link"><a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=6/orden=-1/"><img src="/assets/img/logo_asus.jpg" class="listaLightboxMarca__link__img"></a></li>
                    <li class="listaLightboxMarca__link"><a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=9/orden=-1/"><img src="/assets/img/logo_intel2.jpg" class="listaLightboxMarca__link__img"></a></li>
                    <li class="listaLightboxMarca__link"><a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=24/orden=-1/"><img src="/assets/img/logo_zotac.png" class="listaLightboxMarca__link__img"></a></li>
                    <li class="listaLightboxMarca__link"><a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=3/orden=-1/"><img src="/assets/img/logo_msi.jpg" class="listaLightboxMarca__link__img"></a></li>
                    <li class="listaLightboxMarca__link"><a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=25/orden=-1/"><img src="/assets/img/logo_evga.jpg" class="listaLightboxMarca__link__img"></a></li>
                    <li class="listaLightboxMarca__link"><a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=21/orden=-1/"><img src="/assets/img/logo_logitech2.png" class="listaLightboxMarca__link__img"></a></li>
                    <li class="listaLightboxMarca__link"><a href="/producto/buscar/palabra=-1/idcat=-1/idsub=-1/idmarca=26/orden=-1/"><img src="/assets/img/logo_ballistic.jpg" class="listaLightboxMarca__link__img"></a></li>
                </ul>
            </article>
        </section>
        <!--*****************************SECCION PC-GAMERS**********************************-->   
        <section class="centro max1400">
            <h3 class="titulo">PC GAMERS</h2>
            <article class="flex-contenedor">
                    <figure class="especificacion">
                        <a href=""><img src="/assets/img/pcgamer1.png" class="especificacion__img"></a>
                        <figcaption class="especificacion__titulo">BASE</figcaption>
                    </figure>

                    <figure class="especificacion">
                        <a href=""><img src="/assets/img/pcgamer2.jpg" class="especificacion__img"></a>
                        <figcaption class="especificacion__titulo">MEDIA</figcaption>
                    </figure>

                    <figure class="especificacion">
                        <a href=""><img src="/assets/img/pcgamer3.png" class="especificacion__img"></a>
                        <figcaption class="especificacion__titulo">ALTA</figcaption>
                    </figure>

                    <figure class="especificacion">
                        <a href=""><img src="/assets/img/pcgamer4.png" class="especificacion__img"></a>
                        <figcaption class="especificacion__titulo">PRO</figcaption>
                    </figure>
            </article>
        </section>
        <!--*****************************SECCION PC-RECOMENDADAS**********************************-->   
        <section class="centro max1400">
            <h3 class="titulo">PC RECOMENDADAS</h3>
            <article class="flex-contenedor">
                <figure class="especificacion">
                    <a href=""><img src="/assets/img/notebook.png" class="especificacion__img"></a>
                    <figcaption class="especificacion__titulo">NOTEBOOK</figcaption>
                </figure>

                <figure class="especificacion">
                    <a href=""><img src="/assets/img/diseño.jpg" class="especificacion__img"></a>
                    <figcaption class="especificacion__titulo">DISEÑO</figcaption>
                </figure>

                <figure class="especificacion">
                    <a href=""><img src="/assets/img/streaming.png" class="especificacion__img"></a>
                    <figcaption class="especificacion__titulo">STREAMING</figcaption>
                </figure>

                <figure class="especificacion">
                    <a href=""><img src="/assets/img/oficina.png" class="especificacion__img"></a>
                <figcaption class="especificacion__titulo">OFICINA</figcaption>
            </figure>
        </article>

        </section>
        <!--*****************************SECCION PRODUCTOS-DESTACADOS**********************************-->        
        <section class="centro max1400">
            <h3 class="titulo">PRODUCTOS DESTACADOS</h3>
            <article class="flex-contenedor">
                <figure class="producto">
                    <a href="" class="producto__interaccionArticulo">
                        <img src="/assets/img/hyperx.jpg" class="producto__img">
                        <span class="producto__mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="producto__precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="producto__interaccionArticulo">
                        <img src="/assets/img/hyperx.jpg" class="producto__img">
                        <span class="producto__mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="producto__precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="producto__interaccionArticulo">
                        <img src="/assets/img/hyperx.jpg" class="producto__img">
                        <span class="producto__mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="producto__precio">ARS 2800</figcaption>
                </figure>
                <figure class="producto">
                    <a href="" class="producto__interaccionArticulo">
                        <img src="/assets/img/hyperx.jpg" class="producto__img">
                        <span class="producto__mas-info">[MÁS INFO]</span>
                        AURICULARES HYPERX CLOUD ALPHA
                    </a>
                    <figcaption class="producto__precio">ARS 2800</figcaption>
                </figure>
            </article>
        </section>
        <!--*****************************SECCION BANNER**********************************-->         
        <section class="banner">
            <a src=""> 
                <img src="/assets/img/banner.png" class="banner__img">
            </a>
            <a src="">
                <img src="/assets/img/banner2.png" class="banner2">
            </a>
        </section>
        <script>
            funcionParaQueElArticuloSeOpaqueYAparezcaMasInfo();
        </script>

{{> footer }}