<!DOCTYPE html>
<html>
    <head>
        <link href="/assets/estilos/paginaError.css" rel="StyleSheet"/>
        <link href="/assets/estilos/estilo.css" rel="StyleSheet"/>
        <link href="/assets/estilos/ubicacion.css" rel="StyleSheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/assets/img/icono.png" sizes="32x32" type="image/png">
        <title>ComputadorasYA</title>
    </head>
    <body>
        <div class="mensajeError">
            <h3 class="mensajeError__titular">Ooooops. Error {{ status }}</h3>
            <p>{{ mensaje }}</p>
            <p>Disculpe las molestias</p>
            <a href="/" class="campoBoton campoBoton--verdeOscuro">Inicio</a>
        </div>
    </body>
</html>