{{> head }}
        {{> modal }}
            <section class="max1400">
                <h3 class="titular"><i class="fas fa-wrench verde"></i>PANEL DE ADMINISTRACION</h3>
            </section>

            <section class="max1400">
                <input type="text" class="buscador" id="buscarUsuario" placeholder="Ingrese nombre o dni...">
                <button class="campoBoton campoBoton--verdeOscuro">Buscar</button>
            </section>

            <table class="tabla max1400">
                <thead>
                    <tr class="tabla__fila--encabezado">
                        <th class="tabla__campo">##</th>
                        <th class="tabla__campo">Nombre</th>
                        <th class="tabla__campo">Estado</th>
                        <th class="tabla__campo">Email</th>
                        <th class="tabla__campo">Compras</th>
                        <th class="tabla__campo">Accion</th>
                    </tr>
                </thead>
                <tbody id="tablaUsuario">
                </tbody>
               

            </table>

            <script>
                funcionBuscarUsuario();
            </script>