{{> head }}

            <section class="max1400">
                <h3 class="titular"><i class="fas fa-wrench verde"></i>PANEL DE PRODUCTO</h3>
                <section class="panelControl">
                    <a href="/admin" class="campoBoton campoBoton--azul">Inicio</a>
                </section>  
            </section>


            <section class="max1400">
                <input type="text" class="buscador" id="buscarProducto" placeholder="Ingrese nombre o dni...">
                <a href="/product/save" class="campoBoton campoBoton--azul"><i class="fas fa-plus"></i> AGREGAR</a>
            </section>

            <table class="tabla max1400">
                <thead>
                    <tr class="tabla__fila--encabezado">
                        <th class="tabla__campo">##</th>
                        <th class="tabla__campo">Nombre</th>
                        <th class="tabla__campo">Categoria</th>                 
                        <th class="tabla__campo">Stock</th>
                        <th class="tabla__campo">Precio</th>
                        <th class="tabla__campo">Costo</th>
                        <th class="tabla__campo">Accion</th>
                    </tr>
                </thead>
                <tbody id="tablaProducto">
                </tbody>
               

            </table>

            <script src="/assets/js/main.js"></script>
            <script>
                funcionBuscarProductoParaTabla();
            </script>

<!--


agregarCondicionesALaSentenciaSQL([
{
    valor: 1,
    condicion: "palabra = palabra"
},
{
    valor: 2,
    condicion: "subcategoria = idsubcategoria"
}
]);


-->