/* ****************************************CLASES GENERALES*****************************************************/
.lista-productos{
    width: 75%;
    margin-top: 10px;
}
/* ****************************************ENCABEZADO*****************************************************/
.encabezado{
    background: black;
    width: 100%;
    color:white;
    padding: 10px;
    border-radius: 8px;

    display:flex;
    justify-content: space-between;
    align-items: center;
}

    .encabezado a{
        padding: 5px;
    }
    .encabezado--grande{
        font-size: 1.5em;
    }
/* ****************************************ENCABEZADO*****************************************************/

.categoria{
    text-align: start;
    margin-top: 20px;
    width: 20%;
}
    .categoria__especificacion{
        padding: 5px;
    }

    .categoria__especificacion--verde{
        background: #50b942;
        color:white;
        padding: 8px;
    }



.infoArmado{
    width: 30%;
    border: 1px dashed rgb(129, 129, 129);
    padding: 10px;
}
.infoArmado__articulo{
    width: 100%;
    min-height: 80px;
    padding: 10px;
    border-bottom: 1px dashed rgb(129, 129, 129);
    justify-content: start;
    align-items: center;
}
.infoArmado__articulo__img{
    width: 30%;
    border: 1px solid rgb(197, 197, 197)
}
.infoArmado__texto{
    text-align: start;
    width: 68%;
    margin-left: 2%;
}

.listaProducto{
    width: 65%;
}

.listaProducto__articulo{
    border: 1px solid rgb(197, 197, 197);
    width: 46%;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px;
    margin-right: 4%;
    margin-bottom: 10px;
    cursor: pointer;
}
.listaProducto__articulo:hover{
    border: 1px solid rgb(8, 170, 8);
}
.listaProducto__encabezado{
    width: 100%;
    justify-content: start;
    padding: 10px;
    align-items: center;
}
.listaProducto__articulo__img{
    width: 30%;
    border: 1px solid rgb(197, 197, 197)
}
.listaProducto__articulo__img--titular{
    width: 100px;
    margin-right: 35px;
    border: 1px solid rgb(197, 197, 197);
}
.flex-contenedor-start{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
}

.categoria__especificacion__link{
    display: block;
    color: black;
    font-size: 0.8em;
    margin: 4px;
}

.categoria__especificacion__link:hover{
    text-decoration: underline black;
    color: #50b942;
}

.textoCentro{
    text-align: center;
    width: 100%;
}
a{
    cursor: pointer;
}

.botonNegro{
    border-radius: none;
    border: none;
    width: 60%;
    margin-top: 5px;
    background-color: #3a3a3a;
    color: rgb(160, 228, 51);
    font-weight: 800;
    padding: 10px;
    cursor: pointer;
}

.botonNegro:hover{
    background-color: #070707;
}

.marcaLogo{
    width: 48%;
    opacity: 0.7;
    margin-right: 2%;
}
.marcaLogo img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 1px solid black;
}
.marcaLogo:hover{
    opacity: 1;
}
.anchoFullMedio{
    width: 100%;
}
.productoEstandar{
    border: 1px solid grey;
    color: #50b942;
}
    .productoEstandar:hover{
        border: 1px solid #50b942;
    }

.productoFila{
    width: 100%;
    height: 130px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 10px;
    position: relative;
}

.productoFila__link{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.productoFila__link__img{
    height: 80%;
    width: 120px;
    margin-right: 20px;
    border: 1px solid rgb(197, 197, 197);
}

.productoFila__detalle{
    color:black;
    text-align: start;
}
#subtitular{
    font-size: 1.3em;
    margin: 10px;
}

.modificarComponente{
    margin-top: 4px;
    border: none;
    padding: 10px;
}