/* ****************************************CLASES GENERALES*****************************************************/
.lista-productos{
    width: 75%;
    margin-top: 10px;
}
/* ****************************************ENCABEZADO*****************************************************/
.encabezado{
    background: black;
    width: 100%;
    color:white;
    padding: 10px;
    border-radius: 8px;

    display:flex;
    justify-content: space-between;
    align-items: center;
}

    .encabezado a{
        padding: 5px;
    }
    .encabezado--grande{
        font-size: 1.5em;
    }
/* ****************************************ENCABEZADO*****************************************************/

.categoria{
    text-align: start;
    margin-top: 20px;
    width: 20%;
}
    .categoria__especificacion{
        padding: 5px;
    }

    .categoria__especificacion--verde{
        background: #50b942;
        color:white;
        padding: 8px;
    }