/* ****************************************CLASES GENERALES*****************************************************/
.lista-productos{
    width: 75%;
    margin-top: 10px;
}
/* ****************************************ENCABEZADO*****************************************************/
.encabezado{
    background: black;
    width: 100%;
    color:white;
    padding: 10px;
    border-radius: 8px;

    display:flex;
    justify-content: space-between;
    align-items: center;
}

    .encabezado a{
        padding: 5px;
    }
    .encabezado--grande{
        font-size: 1.5em;
    }
/* ****************************************ENCABEZADO*****************************************************/

.categoria{
    text-align: start;
    margin-top: 20px;
    width: 20%;
}
    .categoria__especificacion{
        padding: 5px;
    }

    .categoria__especificacion--verde{
        background: #50b942;
        color:white;
        padding: 8px;
    }



.infoArmado{
    width: 30%;
    border: 1px dashed rgb(129, 129, 129);
    padding: 10px;
}
.infoArmado__articulo{
    width: 100%;
    min-height: 80px;
    padding: 10px;
    border-bottom: 1px dashed rgb(129, 129, 129);
    justify-content: start;
    align-items: center;
}
.infoArmado__articulo__img{
    width: 60px;
}
.infoArmado__texto{
    text-align: start;
    margin-left: 30px;
}

.listaProducto{
    width: 65%;
}

.listaProducto__articulo{
    border: 1px solid rgb(129, 129, 129);
    width: 46%;
    min-height: 100px;
    align-items: center;
    flex-wrap: nowrap;
    margin-right: 4%;
    margin-bottom: 10px;
}
.listaProducto__articulo:hover{
    border: 1px solid rgb(0, 95, 0);
}
.listaProducto__encabezado{
    width: 100%;
    justify-content: start;
    padding: 10px;
    align-items: center;
}
.listaProducto__articulo__img{
    width: 70px;
    margin-right: 5px;
}

.flex-contenedor-start{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
}

.categoria__especificacion__link{
    display: block;
    color: black;
    font-size: 0.8em;
    margin: 4px;
}

.categoria__especificacion__link:hover{
    text-decoration: underline black;
    color: #50b942;
}

.textoCentro{
    text-align: center;
    width: 100%;
}
a{
    cursor: pointer;
}