.titular{
    background: rgb(41, 41, 41);
    color:white;
    font-size: 1.4em;
    font-weight: 800;
    text-align: start;
    padding: 10px;
    border-radius: 4px;
}
.articuloAyuda{
    text-align: start;
    margin: 5px;
}
    .articuloAyuda__infoMostrar{
        background: rgb(231, 231, 231);
        padding: 10px;
        display: none;
        opacity: 1;
        animation-name: ayudaInfo;
        animation-duration: 1s;
        animation-fill-mode: initial;

    }
    .articuloAyuda__botonMostrar{
        background: rgb(196, 194, 194);
        padding: 15px 15px 15px 30px;
        border-radius: 4px;
        cursor: pointer;
    }
    .articuloAyuda__botonMostrar:hover{
        color: #3bb441;
    }

        .articuloAyuda__botonMostrar--verde{
            color: #3bb441;
            padding: 5px;
        }


@keyframes ayudaInfo{
    from {
        opacity: 0;
    }to{
        opacity: 1;
    }
}
