/*--------------------------------------ETIQUETAS GENERALES-----------------------------------*/
li{
    list-style: none;
}
a{
    text-decoration: none;
}
html body{
    font-family: 'Roboto Slab', serif;
    background-color: #dadada;
}
html header{
    background: black;
}
/*--------------------------------------ID-----------------------------------*/
#total{
    padding: 5px;
}
#buscador{
    width: 500px;
    height: 40px;
    border-radius: 4px;
    border-style: none;
    padding-left: 10px;
}
#iniciar_sesion{
    color:white;
}
#registrarse{
    color:#1eff00;
}
#buscar{
    background: #50b942;
    color:white;
    height: 35px;
    font-size: 1.3em;
    border:none;
    border-radius: 4px;

    position: relative;
    right: 41px;
    top:4px
}
/*--------------------------------------CLASES GENERALES-----------------------------------*/
.icono{
    color: #50b942;
    margin-right: 4px;
}
.carrito{
    padding-left:20px;
}
    .carrito i{
        font-size: 1.7em;
    }
.max1400{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 20px;
}
.flex-contenedor{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.verde{
    color: #1eff00;
    padding: 4px;
}
.menu_secundario .logo a{
    color: #1eff00;
}
.linea-separadora{
    border-bottom: rgb(136, 136, 136) solid 1px;
    padding-bottom: 15px;
}
/*---------------------------------------------MODAL GENERALES----------------------------------------------*/
.modal{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    
    position: fixed;
    top:0;
    left:0;

    display: none;
    justify-content: center;
}
.modal-ventana{
    border: #949393 solid 1px;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
    background: #f5f5f5;

    position:fixed;
    top:20px;

    animation-name: animacionModal;
    animation-duration: 0.4s;
}

@keyframes animacionModal{
    from {
        top: -100vw;
    }
    to {
        top: 20px;
    }
}
.cerrar{
    position: absolute;
    right: 10px;
    top:8px;
    cursor: pointer;
    color: rgb(151, 151, 151);
}
/*-------------------------------------MODAL TELEFONICO-----------------------------------*/
#modalTelefonico .modal-ventana a{
    font-size: 2.0em;
    font-weight: 800;
    padding: 10px;
    display: block;
}
#modalTelefonico .modal-ventana ul{
    text-align: start;
    padding: 10px;
}
#modalTelefonico .modal-ventana li{
    list-style-type: disc;
    padding: 3px;
    margin-left: 10px;
}
/*-------------------------------------MODAL MEDIOS-DE-PAGO-----------------------------------*/
#modalMediosDePago .modal-ventana{
    width: 500px;
}
#modalMediosDePago article{
    padding: 10px;
}
/*--------------------------------------MENU CONTACTO-----------------------------------*/
.menu_contacto ul{
    background-color: #525252;

    display: flex;
    justify-content: flex-end;
}
    .menu_contacto a{
        color:white;
        padding: 8px;
        cursor: pointer;
        display: block;
    }
    .menu_contacto a:hover{
        text-decoration-line:underline ;
    }

/*--------------------------------------MENU SECUNDARIO-----------------------------------*/
.menu_secundario{
    padding-top: 8px;
    padding-bottom: 8px;

    display:flex;
    justify-content: space-around;
}
    .menu_secundario .logo{
        color: #1eff00;
        font-size: 2.0em;
    }


/*--------------------------------------MENU-----------------------------------*/
.menu ul{
    background-color: black;

    display: flex;
    justify-content: center;
}
    .menu a{
        color:white;
        padding: 14px;

        display: block;
    }
    .menu a:hover{
        color: #1eff00;
    }


/*--------------------------------------USUARIO CARRITO-----------------------------------*/
.usuario_carrito{
    color:white;

    display: flex;
    justify-content: space-between;
}
.menu_contacto{
    background: black;
    color:white;
}
/*--------------------------------------FOOTER-----------------------------------*/
html footer{
    background: black;
    color:white;
}
footer h3, footer li{
    padding: 4px;
}
footer a{
    color:white;
    cursor: pointer;
}
footer a:hover{
    text-decoration-line: underline;
}
footer img{
    width: 50px;
}