/* **************************PRODUCTO*************************************** */

.producto{
    width: 24%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
    color: #50b942;
    line-height: 20px;
    background: white;
    margin: 0.5%;

    /* position relative para el mas-info*/
    position:relative;
}
    .producto:hover{
        border: 1px solid #50b942;
    }

    .producto__interaccionArticulo{
        color:black;
    }
    .producto__interaccionArticulo:hover{
            color: #50b942;
        }

    .producto__img{
        width: 100%;
    }
    .producto__precio{
        font-size: 1.5em;
        padding: 4px;
    }

    .producto__mas-info{
        opacity: 0.8;
        padding: 8px;
        background: #cecece;
        color: black;
        font-weight: 700;
        border-radius: 2px;
        display: none;
        animation-name: masInfoVentana;
        animation-duration: 0.6s;


        position: absolute;
        top:30%;
        left:30%;
    }

@keyframes masInfoVentana{
    from{
        opacity: 0;
    }to{
        opacity: 0.8;
    }
}