/*--------------------------------------ETIQUETAS GENERALES-----------------------------------*/
li{
    list-style: none;
}
a{
    text-decoration: none;
}
html body{
    font-family: 'Roboto Slab', serif;
    background-color: #dadada;
}
html header{
    background: black;
}
/*--------------------------------------ID-----------------------------------*/

.buscador{
    width: 500px;
    height: 40px;
    border-radius: 4px;
    border-style: none;
    padding-left: 10px;
}
.menuSecundario--botonPosicion{
    position: relative;
    right: 41px;
    top:2px
}
/*--------------------------------------CLASES GENERALES-----------------------------------*/
.icono{
    color: #50b942;
    margin-right: 4px;
}
.carrito{
    padding-left:20px;
}
    .carrito--icono{
        font-size: 1.7em;
    }
    .carrito--total{
        padding: 5px;
    }
.max1400{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 20px;
}
.flex-contenedor{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.verde{
    color: #1eff00;
    padding: 4px;
}
.menu_secundario .logo a{
    color: #1eff00;
}
.linea-separadora{
    border-bottom: rgb(136, 136, 136) solid 1px;
    padding-bottom: 15px;
}
/*---------------------------------------------MODAL GENERALES----------------------------------------------*/
.modal{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    
    position: fixed;
    top:0;
    left:0;

    display: none;
    justify-content: center;
}
.modalVentana{
    border: #949393 solid 1px;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
    background: #f5f5f5;
    width: 480px;

    position:fixed;
    top:20px;

    animation-name: animacionModal;
    animation-duration: 0.4s;
}

@keyframes animacionModal{
    from {
        top: -100vw;
    }
    to {
        top: 20px;
    }
}
.modalVentana__cerrar{
    position: absolute;
    right: 10px;
    top:8px;
    cursor: pointer;
    color: rgb(151, 151, 151);
}
/*-------------------------------------MODAL TELEFONICO-----------------------------------*/
.modalTelefonico__link{
    font-size: 2.0em;
    font-weight: 800;
    padding: 10px;
    display: block;
}
    .modalTelefonico__lista{
        text-align: start;
        padding: 10px;
    }
        .modalTelefonico__lista__li{
            list-style-type: disc;
            padding: 3px;
            margin-left: 10px;
        }
/*-------------------------------------MODAL MEDIOS-DE-PAGO-----------------------------------*/

/*-------------------------------------MODAL LOGIN----------------------------------*/
.modalVentana .campo-imput {
    width: 93%;
}
.modalVentana--loginGoogle{
    width: 96%;
}

    .modalVentana--loginGoogle:hover{
        background: #0248af;
    }
    .loginGoogle--ancho{
        padding: 5px;
    }
.modalVentana__parrafo{
    padding: 10px;
}
/*--------------------------------------MENU CONTACTO-----------------------------------*/
.menuContacto{
    background-color: #525252;

    display: flex;
    justify-content: flex-end;
}
    .menuContacto__link{
        color:white;
        padding: 8px;
        cursor: pointer;
        display: block;
    }
    .menuContacto__link:hover{
        text-decoration-line:underline ;
    }

/*--------------------------------------MENU SECUNDARIO-----------------------------------*/
.menuSecundario{
    padding-top: 8px;
    padding-bottom: 8px;

    display:flex;
    justify-content: space-around;
}
    .menuSecundario__logo{
        color: #1eff00;
        font-size: 2.0em;
    }


/*--------------------------------------MENU-----------------------------------*/
.menu{
    background-color: black;

    display: flex;
    justify-content: center;
}
    .menu__link{
        color:white;
        padding: 14px;

        display: block;
    }
    .menu__link:hover{
        color: #1eff00;
    }
    .menu__link--verde{
        color:#1eff00;
    }
    .menu__link--verde:hover{
        color:#1e8610;
    }


/*--------------------------------------USUARIO CARRITO-----------------------------------*/
.usuarioCarrito{
    color:white;

    display: flex;
    justify-content: space-between;
}
/*--------------------------------------FOOTER-----------------------------------*/
.footer{
    background: black;
    color:white;
}
    .footer h3, .footer li{
        padding: 4px;
    }
    .footer__link{
        color:white;
        cursor: pointer;
    }
    .footer__link:hover{
        text-decoration-line: underline;
    }
.iconos{
    width: 50px;
}
.abrilModalRegistrarse--verde{
    color: #1eff00;
}

#botonMenuResponsive{
    display:none;
}
#botonMenuResponsive i{
    font-size: 2.1em;
}