.lightboxMarca{
    width: 80%;
    overflow: hidden;
    margin:auto
}
.listaLightboxMarca{
    width: 157.2%;
    animation-name: cambio;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.listaLightboxMarca__link{
    width: 14.3%;
}
.listaLightboxMarca__link__img{
    width: 100%;
    height: 90px;
}
.lightboxMarca .flex-contenedor{
    flex-wrap: nowrap;
}
@keyframes cambio{
    0% {margin-left: -28.6%;}
    27% {margin-left: -28.6%;}

    36% {margin-left: 0;}
    63% {margin-left: 0;}

    73% {margin-left:-42.9%;}
    100% {margin-left:-42.9%;}

}