.galeria__figure{
    width: 50%;
}
.galeria__figure--tamanioPerfil{
    width: 100%;
}
.caracteristicas{
    width: 45%;
    text-align: start;
}
  .caracteristicas__titulo{
      font-size: 1.7em;
      font-weight: 900;
  }
  .caracteristicas__dato{
      margin-bottom: 10px;
      margin-top: 10px;
  }

.textoNota{
    width: 100%;
    padding: 15px;
    min-height: 400px;
    background: rgb(192, 192, 192);
    border: 1px solid rgb(161, 161, 161);
    margin: 10px;
}