.galeria__figure{
    width: 50%;
}
.galeria__figure--tamanioPerfil{
    width: 90%;
    height: 500px;
    object-fit: cover;
}
.caracteristicas{
    width: 45%;
    text-align: start;
}
  .caracteristicas__titulo{
      font-size: 1.7em;
      font-weight: 900;
  }
  .caracteristicas__dato{
      margin-bottom: 10px;
      margin-top: 10px;
  }
  .caracteristicas__infoPrecio{
      background: #c2c2c2;
      padding: 6px;
      border: rgb(180, 180, 180) solid 1px;
  }
.textoNota{
    width: 100%;
    padding: 15px;
    min-height: 400px;
    background: #eeeeee;
    border: 2px solid rgb(161, 161, 161);
    margin: 10px;
}
.textoDescripcion{
    white-space: pre-line;
    text-align: start;
}