/* **************************LISTA_MARCA*************************************** */
.listaMarca{
    background: white;
    box-shadow: 5px 5px 5px black;

    display:flex;
    justify-content: center;
}

    .listaMarca__img{
        height: 20px;
        padding:5px;
        padding-right: 30px;

    }

    .lightboxGrande__img{
        height: 400px;
        width: 100%;
    }
/* **************************ARTICULO1*************************************** */
.informacion{
    display: flex;
}
    .informacion__bloque{
        justify-content: center;
        padding: 5px;
        border-left: 1px solid grey;

        flex-grow: 1;
    }
    .informacion__bloque__texto{
        text-align: center;
        line-height: 25px;
    }
/* **************************LISTA_LIGHTBOX*************************************** */

/* **************************TITULO*************************************** */
.titulo{
    background: #50b942;
    color: white;
    font-size: 1.8em;
    padding: 9px;

    display: inline-block;
    position: relative;
}
    .titulo::before, .titulo::after{
        content: "";
        height: 2px;
        width: 300px;
        background: #50b942;
        position: absolute;
        top: 0.8em;
    }
    .titulo::before{
        left: -300px;
    }
    .titulo::after{
        right: -300px;
    }

/* **************************ESPECIFICACION*************************************** */
.especificacion {
    max-width: 20%;
    margin-top: 20px;
    overflow: hidden;
}
    .especificacion__img{
        border-top: 1px solid grey;
        border-left: 1px solid grey;
        border-right: 1px solid grey;
        width: 100%;
        object-fit: contain;
    }

        .especificacion__img:hover{
            border-top: 1px solid #50b942;
            border-right: 1px solid #50b942;
            border-left: 1px solid #50b942;
            opacity: 0.6;
        }
    .especificacion__titulo{
        width: 100%;
        background: black;
        color: white;
        font-size: 1.5em;
        margin-top: -3px;
        border: 1px solid black;
    }

/* **************************BANNER*************************************** */
.banner{
    text-align: center;

}
    .banner__img{
        width: 80%;
        padding: 20px;
    }

.banner2{
    max-width: 50%;
}