@media (max-width: 767px){
    .listaLightboxMarca__link__img{
        height: 65px;
    }
    .titulo::after, .titulo::before{
        width: 10%;
    }
    .titulo::after{
        right: -10%;
    }
    .titulo::before{
        left: -10%;
    }

    .especificacion{
        max-width: 42%;
    }
    .especificacion__img{
        height: 200px;
    }
    .producto{
        width: 42%;
    }
    .footer > div > ol{
        display:none;
    }
    .listaMarca__img{
        padding-right: 3px;
    }
    .banner__img{
        display: none;
    }
    .banner2{
        max-width: 75%;
    }
    .menuSecundario{
        flex-direction: column;
    }
    .menuSecundario > div{
        margin-bottom: 10px;
    }
    .usuarioCarrito{
        justify-content: space-evenly;
    }
    .buscador{
        width: 80%;
    }
    .lightboxMarca{
        display: none;
    }
    .menu{
        flex-direction: column;
        display:none;
    }
    .menu__link{
        text-align: center;
        font-size: 1.1em
    }
    .menu__submenu{
        position: static;
        background: rgb(51, 51, 51);
    }
    #botonMenuResponsive{
        display: block;
    }
    .ubicacion, .formulario{
        width: 100%;
        margin-bottom: 10px;
    }
    .ubicacion .mapa{
        height: auto;
    }
    .categoria, .lista-productos, .caracteristicas, .galeria__figure{
        width: 100%;
    }
}

@media (max-width: 480px){
    .listaMarca__img{
        height: 25px;
    }
    .titulo{
        font-size: 1.4em;
    }
    .informacion{
        flex-direction: column;
    }
    .informacion__bloque{
        border-bottom: 1px solid grey;
        border-left: none;
    }
    .modalVentana{
        width: 90vw;
    }

    .lista-productos .producto{
        width: 90%;
    }

}