@media (max-width: 767px){
    .listaLightboxMarca__link__img{
        height: 65px;
    }
    .titulo::after, .titulo::before{
        width: 10%;
    }
    .titulo::after{
        right: -10%;
    }
    .titulo::before{
        left: -10%;
    }

    .especificacion{
        max-width: 42%;
    }
    .especificacion__img{
        height: 200px;
    }
    .producto{
        width: 42%;
    }
    .footer > div > ol{
        display:none;
    }
    .listaMarca__img{
        padding-right: 3px;
    }
    .banner__img{
        display: none;
    }
    .banner2{
        max-width: 75%;
    }
    .menuSecundario{
        flex-direction: column;
    }
    .menuSecundario > div{
        margin-bottom: 10px;
    }
    .usuarioCarrito{
        justify-content: space-evenly;
    }
    .buscador{
        width: 80%;
    }
    .lightboxMarca{
        display: none;
    }
    .menu{
        flex-direction: column;
        display:none;
    }
    .menu__link{
        text-align: center;
        font-size: 1.1em
    }
    .menu__submenu{
        position: static;
        background: rgb(51, 51, 51);
    }
    #botonMenuResponsive{
        display: block;
    }
    .ubicacion, .formulario{
        width: 100%;
        margin-bottom: 10px;
    }
    .ubicacion .mapa{
        height: auto;
    }
    .categoria, .lista-productos, .caracteristicas, .galeria__figure{
        width: 100%;
    }
    .lightboxGrande__img{
        height: 250px;
    }
    .galeria__figure--tamanioPerfil{
        height: 400px;
    }
    .productoFila__link{
        width: 60%;
    }
    .listaProducto{
        width: 100%;
    }
    .infoArmado{
        width: 100%;
    }

}

@media (max-width: 480px){
    .listaMarca__img{
        height: 25px;
    }
    .titulo{
        font-size: 1.4em;
    }
    .informacion{
        flex-direction: column;
        margin-top: -35px;
    }
    .informacion__bloque{
        border-bottom: 1px solid grey;
        border-left: none;
    }
    .modalVentana{
        width: 90vw;
    }

    .producto{
        width: 100%;
    }
    .lightboxGrande__img{
        height: 180px;
    }
    .galeria__figure--tamanioPerfil{
        height: 300px;
    }

    .productoFila{
        height: auto;
        flex-direction: column;
        justify-content: center;
    }
    .productoFila__link{
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;
    }
    .productoFila__link__img{
        width: 100%;
        height: 250px;
        margin-right: 0px;
    }
    .listaProducto__articulo{
        width: 100%;
    }
    .especificacion__img {
        height: 170px;
    }
    .especificacion{
        height: 200px;
    }
    .menuContacto {
        height: 9px;
    }
    .menuContacto li {
        display: none;
    }
    .menuSecundario__logo{
        font-size: 1.4em;
    }
    .puntosCarousel{
        display: none;
    }
    .carrito{
        padding:0;
    }
    .carrito--total{
        display: none;
    }
    #botonVistaFila{
        display: none;
    }
    #botonVistaCuadricula{
        display: none;
    }
}