.formulario, .ubicacion{
    text-align: start;
}
.ubicacion{
    width: 40%;
}
.formulario{
    width: 60%;
    padding-right: 60px;
}
.ubicacion__titulo{
    margin-bottom: 20px;
}
form{
    margin-top: 20px;
}
.formulario__input, .formulario__textarea{
    width: 100%;
    font-size: 1.1em;
}
.formulario__label{
    display: inline-block;
    margin-bottom: 4px;
    font-size: 1.1em;
}
.campo-imput{
    margin-bottom: 10px;
    font-size: 1.1em;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    border-radius: 2px;
    border: rgb(156, 156, 156) solid 1px;
    background-color: #f8f8f8;
}
.inputEdicion{
    background: #eeeeee;
    border-bottom: 2px solid rgb(116, 114, 114);
    border-top: none;
    border-left: none;
    border-right: none;
    padding-top: 4px;
    font-size: 1.1em;
    margin-bottom: 6px;
}
.inputEdicion:focus{
    border-bottom: 1px solid rgb(116, 114, 114);
    border-top: none;
    border-left: none;
    border-right: none;
}
.formulario p, .ubicacion p{
    margin-bottom: 8px;
}

.campoBoton{
    width: auto;
    padding: 10px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    display: inline-block;
}
    .campoBoton--azul{
        background: #0359da;
        color:white;
    }
    .campoBoton--azul:hover{
        background: #0246ac;
    }
    .campoBoton--verdeOscuro{
        background: #50b942;
        color:white;
    }
    .campoBoton--verdeOscuro:hover{
        background:#2f6b27;
    }
    .campoBoton--negro{
        background-color: black;
        color: white;
    }
    .campoBoton--negro:hover{
        background-color: #2f6b27;
        color: white;
    }

.formulario__input--corto{
    width: 100px;
}
.formulario__textarea{
    min-height: 180px;
}
.mapa, .mapa__iframe{
    width: 100%;
}
.mapa{
    height: 70%;
}
.mapa__iframe{
    height: 100%;
}